﻿@charset "utf-8";
/* CSS Document */

.mentorBookProfile .heading {
    font-family: 'Roboto', serif;
    font-size: 30px;
    color: #242626;
    font-weight: 300;	
}

.mentorMedia {
    width: 400px;
    margin: 30px auto;	
}

.mentorMedia .imgProfile {
    width: 80px;
    height: 80px;
    background-size: cover !important;
    border: 1px solid #E5E5E5;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

.mentorMedia .media-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #ef4135;
    font-weight: 400;	
}

.mentorMedia h5 {
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #535960;
    font-weight: 400;	
}

.mentorMedia h5 img {
	margin-right: 15px;
	float: left;
    margin-bottom: 20px;	
}

.mentorMedia .media-left, .mentorMedia .pull-left {
    padding-right: 20px;
}

.mentorMedia .media-body {
	text-align: left;
}

.mentorBookProfile {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 40px;
    padding-bottom: 40px;	
}

.mentorBookProfile .mentorBacktoProfileBtn, .mentorBookProcess .continueBtn {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #049ce2;
    border: 2px solid #049ce2;
    padding: 8px 15px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}


.mentorBookProfile .mentorBacktoProfileBtn:hover, .mentorBookProfile .mentorBacktoProfileBtn:focus, .mentorBookProcess .continueBtn:hover, .mentorBookProcess .continueBtn:focus {
	background: #049ce2;
	color: #fff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.mentorBookProcess .panel-group {
    margin-bottom: 0px;
}

.mentorBookProcess .panel-title a {
	display: block;
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #242626;	
}

.mentorBookProcess .panel-title img{
    width: 35px;
    vertical-align: top;
}

.mentorBookProcess .panel-title span{
    font-size: 14px;
    font-weight: 400;
    color: #64686d;
}

.mentorBookProcess .panel-title span b{
    color: #111111;
	font-weight: 500;
}

.mentorBookProcess .panel-title a:hover, .mentorBookProcess .panel-title a:focus {
	text-decoration: none;
}

.mentorBookProcess .panel-group .panel {
    border-radius: 0px;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #f1f1f1;
    margin: 0px -10px;
}

.mentorBookProcess .panel-default .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    padding: 40px 15px;
}

.mentorBookProcess .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
    border-top: 0;
    width: 85%;
    margin: 0px auto;	
}

.mentorBookProcess .panel-body .form-group {
    margin-bottom: 20px;
}

.mentorBookProcess .panel-body .form-group .form-control {
	border: 0;
    border-bottom: 2px solid #ECECEC;
    box-shadow: none;
    border-radius: 0;
    padding: 6px 0px;
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: #999999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}

.mentorBookProcess .panel-body .form-group .form-control:focus {
    color: #2b2b2b;
    border-bottom: #0072C6 solid 2px;
    box-shadow: none;
}

.mentorBookProcess .panel-body .form-group .form-control-label {
	font-family: 'Roboto Light', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #939393;
    display: block;
    margin-top: 4px;
    display: inline-block;	
}

.mentorBookProcess .panel-body .form-group  .form-control-label-xl {
    font-weight: 300;
    font-size: 18px;
    display: block;
    margin-bottom: 4px;	
}

.mentorBookProcess .uploadFile {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: #999999;
    border: #ebebeb dashed 2px;
    border-radius: 3px;
    padding: 20px 10px;
    cursor: pointer;
}

/* myScheduleCalendar css */

/* date calender */

.myScheduleDateCalendarContainer #myScheduleDateCalendarCollapse {
	position: absolute;
    background: #ffffff;
	z-index: 9;	
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtnGroup a {
	display: inline-block;
    color: #202235;
	vertical-align: middle;
	padding: 10px;
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtnGroup a[disabled] {
    color: #DADADA;	
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtnGroup a:first-child {
    padding: 10px 10px 10px 0px;
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #202235;
    padding: 10px;
    display: inline-block;
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtn img{
    margin-right: 5px;
    margin-top: -4px;
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtn .glyphicon {
	color: #0072C6;
    font-size: 12px;
    margin-left: 6px;
}

.myScheduleDateCalendarContainer .myScheduleDateCalendarBtn:hover, .myScheduleDateCalendarContainer .myScheduleDateCalendarBtn:focus {
	text-decoration: none
}

.myScheduleDateCalendar table#ctl00_ContentPlaceHolder1_Calendar1 {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
}

.myScheduleDateCalendar .calendarTitle td {
    font-weight: 500;
    color: #3f3f3f !important;
}

.myScheduleDateCalendar td, .myScheduleDateCalendar th {
    font-family: 'Roboto', serif;
    font-weight: 400;
    padding: 3px;
	color: #CACACA !important;
    background: #fff !important;	
}

.myScheduleDateCalendar td.selectedDay {
    background-color: #ECEFF1 !important;	
}

.myScheduleDateCalendar td.today a {
    color: #0072C6 !important;
}

.myScheduleDateCalendar th {
	font-weight: 500;
    color: #3f3f3f !important;		
}

.myScheduleDateCalendar td a {
	color: #3f3f3f !important;
}

.myScheduleDateCalendar td a:hover, .myScheduleDateCalendar td a:focus {
    color: #0072C6 !important;
    text-decoration: none;
}

/* Time Zone */

.meetingTimeZoneContainer {
	float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 9px 0px;	
}

.meetingTimeZoneContainer .meetingTimeZoneIcon {
	margin-right: 5px;
}

.meetingTimeZoneContainer .meetingTimeZoneBtn {
	margin-left: 5px;
    color: #0072C6;	
}

.meetingTimeZoneContainer .meetingTimeZoneBtn .glyphicon {
    color: #0072C6;
    font-size: 12px;
    margin-left: 6px;
}

.meetingTimeZoneContainer .meetingTimeZoneBtn:hover, .meetingTimeZoneContainer .meetingTimeZoneBtn:focus {
	text-decoration: none;
	cursor: pointer;
}

.meetingTimeZoneContainer .dropdown-menu {
    padding: 0px;
	border-radius: 0px;
    box-shadow: none;
    width: 300px;
    height: 331px;
    overflow-y: scroll;
    z-index: 9;
}

.meetingTimeZoneContainer .dropdown-menu > li > a {
    padding: 6px 10px;
    clear: both;
    /*color: #9C9C9C;*/
    color: #8C8C8C;	
    border-bottom: 1px solid #ccc;
    white-space: normal;	
}

.meetingTimeZoneContainer .dropdown-menu > li:last-child a {
	border-bottom: 0;
}

.meetingTimeZoneContainer .dropdown-menu > li > a span.timezoneTitle {
	display: inline-block;
    width: 80%;
}

.meetingTimeZoneContainer .dropdown-menu > li > a span.timezoneTitleDate {
    font-size: 12px;
    color: #B1B1B1;		
}

.meetingTimeZoneContainer .dropdown-menu > li > a span.timeZoneOffset{
	float: right;
	color: #9C9C9C !important;
}

.meetingTimeZoneContainer .dropdown-menu > li.active > a{
	background-color: #f5f5f5;
    color: #0072C6;
}

.meetingTimeZoneContainer .dropdown-menu > li > a:hover, .meetingTimeZoneContainer .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #0072C6;
}

/* schedule calender */

.myScheduleCalendar table {
    border: 1px solid #E6E6E6;	
}

.myScheduleCalendar table th {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    font-size: 14px;
    color: #666666 !important;
    background: #eceff1 !important;
    padding: 10.5px !important;
    border: 0;
    border-bottom: 1px solid #EBEBEB !important;
    line-height: 1 !important;	
    width: 14%;	
}

.myScheduleCalendar table tr th:first-child {
    border: 0 !important;
	width: auto;
}

.myScheduleCalendar table th b {
	color: #202235;
	font-weight: 500;
}

.myScheduleCalendar table tr td {
  	text-align:center;
  	vertical-align:middle;
  	border:1px solid #e6e6e6 !important;
	border:1px solid #BBBBBB !important;
	/*background: #F8F8F8;*/
    background: #E8E8E8;	
    width: 14%;
    height: 21px;	
    border-bottom: 0 !important;
    border-top: 0 !important;	
}

.myScheduleCalendar table tr.row1 {
    /*border-bottom: 1px solid #e6e6e6 !important;*/
	border-bottom: 1px solid #D6D6D6 !important;	
}

.myScheduleCalendar table tr.row2 {
    /*border-bottom: 1px solid #C1C1C1 !important;*/
    border-bottom: 1px solid #BBBBBB !important;		
}

.myScheduleCalendar table thead {
    display: inline-block;
    width: 100%;
}

.myScheduleCalendar table tbody {
    overflow-y: auto;
	overflow-x: hidden;
    height: 500px;
    display: inline-block;
    width: 100%;
}

.myScheduleCalendar table td a:hover, .myScheduleCalendar table td a:focus {
	text-decoration: none;
}

.myScheduleCalendar .timeCol {
	background-color:#fff !important;	
	border: 0 none !important;	
}

.myScheduleCalendar table tr td:first-child {
	font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    font-size: 12px;
    color: #b1b1b1 !important;
    padding: 5px;
    line-height: 1;
    text-align: center;
    /*border: 0 !important;*/
    width: auto;		
}

.myScheduleCalendar table tr td:first-child b{
    font-weight: 500 !important;
    /*font-size: 18px;*/
	font-size: 13px;
    color: #323232 !important;
}

.myScheduleCalendar table td.availableForBooking {
	background-color:#fff;
    cursor: pointer;	
}
.myScheduleCalendar table td.highlighted {
  	background-color:#e1f5fe;
}

.clockIcon {
    padding: 4px 0px;
}

.disableCell {
	pointer-events: none;
}

/* book mentor page css */

td.pendingMeetingRequest a, td.confirmMeetingRequest a, td.rejectMeetingRequest a{
    height: 21px;
    overflow: hidden;
}

td.pendingMeetingRequest[rowspan = "2"] a, td.confirmMeetingRequest[rowspan = "2"] a, td.rejectMeetingRequest[rowspan = "2"] a{
    height: 42px;
    overflow: hidden;
}

.mentorBookProcess .mentorProfileAllDetails {
    padding: 0px;
}

.pendingMeetingRequest, .confirmMeetingRequest, .rejectMeetingRequest {
	padding: 0 !important;
}

.pendingMeetingRequest a{
    background: #F6B26B !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
	cursor: pointer;
    display: block;
    padding: 4px 10px;	
}

.pendingMeetingRequest span, .confirmMeetingRequest span, .rejectMeetingRequest span {
    display: block;
    padding: 0px 10px;
}

.confirmMeetingRequest a{
    background: #35B55C !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: block;
    padding: 4px 10px;
}

.rejectMeetingRequest a{
    background: #EF4135 !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: block;
	padding: 4px 10px;
}

.dateTimeInfo {
	display: none;
	font-family: 'Roboto', sans-serif;
    text-align: center;	
    width: 625px;
    margin: 0px auto;	
}

.dateTimeInfo .dateTimeInfoBox {
    font-size: 36px;
    font-weight: 300;
    color: #323232;
    border: 1px solid #f2f2f2;
    padding: 10px 15px;
    display: inline-block;
    margin: 0;
    min-width: 300px;
	text-align: left;
    margin-bottom: 10px;	
}

.dateTimeInfo .dateTimeInfoBox:first-child {
    margin-right: 20px;	
}

.dateTimeInfo .dateTimeInfoBox .dateTimeInfoTitle {
    font-size: 14px;
    font-weight: 400;
	color: #64686d;
	display: block;
    margin-bottom: 5px;
	text-align: left;		
}

.dateTimeInfo .dateTimeInfoBox .ampm {
    font-size: 18px;
}

.dateTimeInfo h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background: #4caf50;
    padding: 15px;
    margin-top: 0px;	
}

.dateTimeInfo h5 {
    font-size: 12px;
    font-weight: 400;
	color: #202235;
}


.discussionTopicsInfo {
	display: none;
	font-family: 'Roboto', sans-serif;
}

.discussionTopicsInfo label {
    font-weight: 300;
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
    color: #939393;	
}

.discussionTopicsInfo h4 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
    color: #323232;
    margin-top: 0;	
}

.discussionTopicsInfo h4.attachment {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
    color: #0072c6;
    border: 2px solid #e6e6e6;
    padding: 15px;
}

/* pendingMeetingRequest popup */

.pendingMeetingRequestPopup {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
}

.pendingMeetingRequestPopup .modal-dialog {
    width: 930px;
}

.pendingMeetingRequestPopup button.close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;	
}

.pendingMeetingRequestPopup .meetingRequestTitle {
    font-family: 'Roboto', serif;	
	font-weight: 300;
    font-style: normal;
    color: #6E6E6E;
    text-align: center;
    margin-bottom: 20px;	
}

.pendingMeetingRequestPopup .meetingRequestTitle h2{
	font-size: 18px;
	font-weight: 300;
    margin: 0;
    padding-top: 5px;		
}

.pendingMeetingRequestPopup .meetingRequestTitle h2.meetingConfirmedTxt {
	color: #35B55C !important;
}

.pendingMeetingRequestPopup .meetingRequestTitle h2.meetingRejectedTxt {
	color: #EF4135 !important;
}

.pendingMeetingRequestPopup .meetingRequestTitle h4{
	font-size: 16px;
	font-weight: 300;	
}

.pendingMeetingRequestPopup .meetingRequestProfile .imgProfile {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #E5E5E5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.pendingMeetingRequestPopup .meetingRequestProfile span {
    font-size: 16px;
    display: inline-block;	
}

.pendingMeetingRequestPopup .meetingRequestTime h4 {
    font-size: 16px;
    font-weight: 400;
    color: #323232;
    margin: 5px auto;
}

.pendingMeetingRequestPopup .meetingRequestDesc h3, .pendingMeetingRequestPopup .meetingRequestAttachment h3 {
    font-size: 18px;
    font-weight: 300;
    color: #6E6E6E;
}

.pendingMeetingRequestPopup .meetingRequestDesc p {
    font-size: 14px;
    font-weight: 400;
    color: #323232;
}

.pendingMeetingRequestPopup .meetingRequestAttachment a{
    font-size: 14px;
    font-weight: 400;
	color: #337ab7;
}

.pendingMeetingRequestPopup .confirm-btn {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 6px 20px;
    background: #35B55C;
    border: 1px solid #35B55C;
}

.pendingMeetingRequestPopup .reject-btn {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #FF5A5F;
    padding: 6px 20px;
    background: transparent;
    border: 1px solid #FF5A5F;
}

.pendingMeetingRequestPopup .sendMsg-btn {
    color: #2B2B2B;
    background-color: #fff;
    border-color: #adadad;
}

.pendingMeetingRequestPopup .meetingRequestTime, .pendingMeetingRequestPopup .meetingRequestProfile {
    padding-bottom: 10px;
}

.pendingMeetingRequestPopup .meetingRequestTime, .pendingMeetingRequestPopup .meetingRequestDesc, .pendingMeetingRequestPopup .meetingRequestAttachment {
    border-bottom: 1px solid #ddd;
}

.pendingMeetingRequestPopup .meetingRequestAttachment {
    margin-bottom: 20px;
}

.pendingMeetingRequestPopup .meetingRequestFooter {
    margin-top: 20px;
}

.pendingMeetingRequestPopup .meetingRequestFooter p {
	font-size: 14px;
    font-weight: 400;
    color: #323232;
    margin-bottom: 0;
}

.pendingMeetingRequestPopup .meetingRequestFooter p a {
    color: #337ab7;
    display: block;	
    margin-bottom: 20px;
}

/* booking-confirmation css */
.booking-confirmation-container {
    width: 780px;
    margin: 0px auto;
	font-family: 'Roboto', sans-serif;	
}

.booking-confirmation-container .booking-confirmation-title h2 {
    color: #323232;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 15px;	
}

.booking-confirmation-container .booking-confirmation-title h5 {
    color: #939393;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;	
}

.booking-confirmation-container .booking-confirmation-profile {
    border: 2px solid #f1f1f1;
    margin-top: 60px;
	padding-bottom: 10px;
    margin-bottom: 30px;	
}

.booking-confirmation-container .booking-confirmation-profile .imgProfileForConfirmation {
    margin-top: -45px;
}

.booking-confirmation-container .booking-confirmation-profile .imgProfileForConfirmation .imgProfile {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: cover !important;
    border: 1px solid #E5E5E5;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

.booking-confirmation-container .booking-confirmation-profile h3 {
    color: #323232;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0;	
}

.booking-confirmation-container .booking-confirmation-profile h2 {
    color: #323232;
    font-weight: 300;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 20px;		
}

.booking-confirmation-container .booking-confirmation-profile h4 {
    color: #666666;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 15px;	
}

.booking-confirmation-container .booking-confirmation-profile h5 {
    color: #666666;
    font-weight: 500;
    font-size: 14px;
}

.booking-confirmation-container .booking-confirmation-terms {
    border-bottom: 2px solid #f1f1f1;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.booking-confirmation-container .booking-confirmation-terms h4 {
    color: #333333;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 3px;
}

.booking-confirmation-container .booking-confirmation-terms p {
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;	
}

.booking-confirmation-container .booking-confirmation-terms p b {
    font-weight: 500;
}

.booking-confirmation-container .goToMyMeetingRoomBtn {
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #f1f1f1;
    padding: 8px 20px;
}

.booking-confirmation-container .goToMyMeetingRoomBtn:hover, .booking-confirmation-container .goToMyMeetingRoomBtn:focus {
	background: #f1f1f1;
	border: 2px solid #f1f1f1;
}

.booking-confirmation-container .booking-confirmation-footer {
    margin-top: 20px;
    margin-bottom: 30px;
}

.booking-confirmation-container .booking-confirmation-footer h4 {
    color: #666666;
    font-weight: 500;
    font-size: 14px;
}

.booking-confirmation-container .booking-confirmation-footer h4 span{
	font-weight: 300;	
}

.backBtnContainer {
    border-bottom: #F1F1F1 solid 1px;
    padding: 15px 15px 12px 15px;
    font-family: 'Roboto', sans-serif;
}

.backBtnContainer a{
    color: #535960;
    vertical-align: middle;
}

.backBtnContainer a .fa {
    font-size: 28px;
    vertical-align: middle;
    margin-top: -6px;
    padding-right: 10px;
}

.backBtnContainer .printSaveWrap a{
    margin-left: 15px;
}

/* myConference css */
.myConference-panel-heading {
	font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
}

.myConference-panel-heading p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.myConference-panel-heading h4 {
    font-size: 14px;
    font-weight: 500;
	margin: 0;
	padding: 0;	
}

.myConference-panel-heading h4 span{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    display: block;	
}

.myConference-panel-heading .meetingStatus {
    margin-right: 15px;
}

.myConference-meeting-pending {
	background: url(../images/dashboard/orange-dot.png);
    background-repeat: no-repeat;
    background-position: 15px 22px;
}

.myConference-meeting-start {
	background: url(../images/dashboard/green-dot.png);
    background-repeat: no-repeat;
    background-position: 15px 22px;
}

.myConference-past-meeting {
    background-color: #F8F8F8 !important;
    /*pointer-events: none;*/
}

.myConference-meeting-start .meetingStatus {
	color: #35B55C;
}

.myConference-meeting-start .pendingMeetingIcon {
	display: none;
}

.myConference-meeting-pending .confirmedMeetingIcon {
	display: none;
}

.myConference-meeting-pending .meetingStatus {
	color: #F6B26B;
}

.myConferenceContainer .panel-group .panel {
    border-radius: 0;
}

.myConferenceContainer .myConference-panel-heading {
    background-color: #fff;
    border-color: #e6e6e6;
	padding: 10px 15px 10px 40px;
}

.myConferenceContainer .panel-group .panel + .panel {
    margin-top: -1px;
}

.myConferenceContainer .nav-tabs {
    border-bottom: 0;
    margin-bottom: 15px;
	display: inline-block;
}

.myConferenceContainer .nav-tabs > li.active > a, .myConferenceContainer .nav-tabs > li.active > a:hover, .myConferenceContainer .nav-tabs > li.active > a:focus {
    color: #0072C6;
    cursor: default;
    background-color: #fff;
    border: 0;
}

.myConferenceContainer .nav-tabs > li > a {
    border: 0;
    border-radius: 0;
    color: #2B2B2B;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    padding: 0px 15px;
}

.myConferenceContainer .nav-tabs > li > a:hover {
	background: transparent;
	color: #0072C6;
}

.myConferenceContainer .nav-tabs > li:first-child {
	border-left: 0;
}

.myConferenceContainer .nav-tabs > li {
    border-left: 1px solid #2B2B2B;
}

.syncCalendarBtn {
    color: #2B2B2B;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

.syncCalendarBtn:hover, .syncCalendarBtn:focus {
    color: #0072C6;
	text-decoration: none;
}


/* responsive css start */

@media (max-width: 991px) {

.booking-confirmation-container {
    width: 95%;
}

}

@media (max-width: 767px) {

.dateTimeInfo {
    width: 100%;
}

.dateTimeInfo .dateTimeInfoBox {
    min-width: 100%;
}
	
}