@charset "utf-8";
/* CSS Document */
#message_box {
position: absolute;
	z-index:200;
	margin:0 auto;
	top: 20px;
	left: 0px;
	background:url(../images/login-popup-bg.jpg) repeat-x left top #CCCCCC;
	padding:5px;
	border:1px solid #CCCCCC;
	text-align:center;
	font-weight:bold;
	max-width: 100%; min-height:100%;
he ight:400px;
	-moz-box-shadow: 0px 12px 18px #999;
	-webkit-box-shadow: 0px 12px 18px #999;
	box-shadow: 0px 12px 18px #999;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}
#message_box .mTitle {
	text-align:center;
	width:100%;
font-family: background:url(../images/mtitle-bottom-border.png) no-repeat center bottom;
	font-size:24px;
	font-style:italic;
	color:#3B5998;
	text-shadow:#1C6CBD 1px 0 0;
	padding:10px 0;
	font-weight:normal;
}
#message_box h3 {
	color:#5A5A5A;
	font-size:20px;
	margin:10px auto;
}
#message_box ul {
	margin:10px 0 0 60px;
	padding:0;
}
#message_box ul li.Rlogo {
	background:url(../images/message-devider-img.png) no-repeat left top;
	display:inline-block;
	float:left;
	margin:10px 5px 0 0;
	padding:50px 15px;
	height:150px;
}
#message_box ul li.Hbox {
	display:inline-block;
	float:left;
	margin:50px 10px 0 10px;
	padding:10px;
	width:180px;
	height:120px;
}
#message_box ul li.Hbox:hover {
	background:#E5E5E5;
	border:1px #BDBBBD solid;
	display:inline-block;
	float:left;
	margin:50px 10px 0 10px;
	padding:10px;
	width:178px;
	height:118px;
}
#message_box ul li a {
	font-size:15px;
	color:#3B5998;
	text-decoration:none;
	display:inline-block;
	font-weight:normal;
}
#message_box ul li a:hover {
	text-decoration:none;
	color:#000;
	font-weight:normal;
}
#message_box ul li img {
	margin:10px;
}
#message_box .mBottom {
	text-align:center;
	width:100%;
	background:url(../images/mbottom.png) no-repeat center top;
	font-size:20px;
	color:#5A5A5A;
	text-shadow:#FFFFFF 1px 1px 1px;
	padding:10px 0;
	clear:both;
}
#message_box .mBottom a {
	text-align:center;
	width:100%;
	background:url(../images/mbottom.png) no-repeat center top;
	font-size:20px;
	color:#5A5A5A;
	text-shadow:#FFFFFF 1px 1px 1px;
	padding:10px 0;
	clear:both;
}
