#li_ui_li_gen_1442397024822_0 #li_ui_li_gen_1442397024822_0-logo {padding: 10px !important;  
border-radius: 0 !important; background-position:10px -585px !important;}
/*.fbIcon {     width: 40px;
    border-radius: 0;
    height: 40px;}*/
._4z_d ._4z_f { display:none;}
._4z_b:hover { background:none;}