 @charset "utf-8";
/* CSS Document */
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Raleway', sans-serif; */

body{ font-family: 'Roboto Slab', serif;  }



*{ outline:none!important; }

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 0em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
 opacity   : 0;

  
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.8em;
}




input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
    width: 20px;
    height: 20px;
  margin           : 0.25em 0.8em 0.25em 0.25em;
  border           : #c3c3c3 solid 1px;
  border-radius    : 0.25em;
  background       : rgb(255,255,255);
  vertical-align   : bottom;
  border-radius: 50%;
}

input[type=checkbox]:not(old) + label > span{
	  display          : inline-block;
    width: 20px;
    height: 20px;
  margin           : 0.25em 0.8em 0.25em 0.25em;
  border           : #c3c3c3 solid 1px;
  background       : rgb(255,255,255);
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span{
	  display          : inline-block;
    width: 20px;
    height: 20px;
  margin           : 0.25em 0.8em 0.25em 0.25em;
  border           : #049ce2 solid 1px;
  background       : rgb(4,156,226);
  vertical-align   : bottom; position:relative;
 
}

input[type=checkbox]:not(old):checked + label > span:before{
  /*content     : '✓';*/
content: url('../images/icons/tick.png'); margin:0 auto; text-align:center; left:0; right:0; position:absolute; top:-4px;

}

input[type=radio]:not(old):checked +  label > span > span:before{
content: url('../images/icons/tick.png'); margin:0 auto; text-align:center; left:0; right:0; position:absolute; top:-4px;

	
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : inline-block;
    width: 20px;
    height: 20px;
  margin           : -0.1em 0.5em 0.25em -0.1em;
  border-radius    : 0.125em;
  background       : rgb(4,156,226);
  border-radius: 50%; position:relative;

}




a[title]:hover:after{
content: attr(title);
padding: 8px 12px;
color: #fff;
position: absolute;
left: 0;
bottom: 100%;
/*white-space: nowrap;*/
z-index: 20;
background: #000;

text-shadow: 0px 0px 0px;  font-family: 'Roboto', sans-serif;
}

.mobVideo { display:none;}

#topHeader { background:#ef4135; border:none; border-radius:0; margin:0; position:fixed; z-index:100; width:100%; border-bottom:#232528 solid 1px;}
#topHeader .navbar-brand { height:inherit; padding:5px 5px 5px 11px;}
#topHeader .navbar-brand>img { border-right:#bc3027 solid 1px; padding:0 10px 0 0; float:left;}
#topHeader .navbar-brand>span{ display:block; float:left; font-size:11px; color:#fff; text-transform:uppercase; line-height:12px; padding:8px 0 0 10px;}
#topHeader .nav > li { position:inherit; /*border-bottom:#ef4135 solid 1px;*/ border-right:#bc3027 solid 1px;  }
/*#topHeader .nav > li:last-child{ border-right:none;}*/
#topHeader .navbar-nav > li > a { font-size:14px; color:#fff; padding-top:20px; padding-bottom:18px; border-radius:0; border:#ef4135 solid 1px; padding:21px 30px 18px 23px; border-bottom:none; border-left:none; }
#topHeader .navbar-nav > li > a:hover{ background:none ; color:#fff; border:#ef4135 solid 1px;  border-left:none;  border-bottom:none; text-decoration:underline;}
#topHeader .navbar-nav > li:hover > a { background:none; color:#fff; border:#ef4135 solid 1px;  border-left:none; border-bottom:none; text-decoration:underline;}
<!--#topHeader .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {  background:#fff; color:#ef4135; }-->
/*#topHeader .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover { background:#efefef; border:#e5e5e5 solid 1px; 
color:#000000;}	*/
.sort .btn-default:hover {background:#efefef; color:#000000;}
{background:#fff !important; color:#ef4135 !important;}
#topHeader .navbar-default .navbar-toggle .icon-bar { background-color:#fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {  background:#fff !important ; color:#ef4135 !important;}
.navbar-default .navbar-toggle {background-color:#fff;}
.logo { float:left;}
.lettNavi { float:right;}
#topHeader .container-fluid { padding-right:0;}

#topHeader .navbar-nav > li .caret {     display: inline-block;
    border: none;
    right: 0;
    margin-top: -20px;
    margin-left: 7px;
    font-size: 18px;}
#topHeader .navbar-collapse { width:auto; float:right; padding-left:0;}
.navbar-default .navbar-toggle { background:none; border:none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:none; border:none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:none; border:none;}
.navbar-default .navbar-toggle .icon-bar { background:#fff;}


/*.navbar-right .dropdown-menu { width:100%; border-radius:0; border:#efefef solid 1px;}*/
#topHeader .dropdown-menu { top:60px;}
.mentor { background:#154b93; padding:0 0 0 10px;}
.mentor a { color:#fff !important; line-height:15px !important; text-transform:uppercase; background:url(../images/icons/mentor-icon.png) no-repeat left center; padding:15px 15px 15px 40px !important; border:none !important;}
.mentor a:hover{ background:url(../images/icons/mentor-icon.png) no-repeat left center !important; border:none !important;}
.dropdownRight > a { font-size:19px !important; padding:21px 23px 16px 23px !important; border:#ef4135 solid 1px; border-bottom:#ef4135 solid 1px;}
.sign .btn-primary  { border:none; background:none;}
.sign .collapse { position:absolute; z-index:9999; width:100%;}
.sign .collapse.in { position:absolute; z-index:9999; width:100%;}	
.signWrap { padding:35px 0 50px 0 !important; width:100%; border-radius:0; border:#efefef solid 1px; border-top:none;  box-shadow:none; }
.signWrap h4 { text-align:center; font-size:36px; font-weight:100; margin:0 0 30px 0; color:#939393;}
.signRow{ font-family: 'Roboto', sans-serif;}
.signRow h5{ color:#535960; font-size:20px; margin:0}
.signRow h6{ color:#939393; font-size:16px; font-style:italic; font-weight:300; margin:0 0 26px 0;}
.signRow ul { padding:0; list-style:none;}
.signRow .form-control { color:#bdbdbd; font-size:24px; font-weight:100; font-style:italic; border:none; border-bottom:#efefef solid 1px; box-shadow:none; padding:6px 12px 9px 0; height:inherit; border-radius:0;}
.signRow .form-control:focus { color:#2b2b2b !important; font-style:normal; border-bottom:#049ce2 solid 1px }
.signRow .signLeft { padding:0 100px 0 80px; border-right:#efefef solid 1px; }
.signRow .signRgt { padding:0 0 0 88px}
.remember { color:#535960; font-size:13px; margin:0 0 20px 0; }
.remember .checkbox { width:200px;}
.remember .checkbox input[type=checkbox]:not(old) + label > span { margin:0.25em 0.5em 0.1em 0.25em;}
.remember a{ color:#535960; display:block; margin:10px 0;}
.signRow p { color:#939393; margin:20px 0 0 0;}
.signRow p a{ color:#0088cc; font-size:14px; font-weight:400;}
.signRow .btn-default {font-size: 26px;
  color: #049ce2;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #049ce2;
  padding: 8px 25px; 
  background:#fff;
  border-radius:2px;

  display: inline-block;
  vertical-align: middle;
}
  
.signRow .btn-default:hover, .signRow .btn-default:focus, .signRow .btn-default:active{	
  text-decoration: none;
  color: #fff !important;	
  border: 1px solid #049ce2;
    background: #049ce2;
}

.signRow span{ color:#949398; font-size:20px; margin:0 0 0 30px;}
ul.social li { float:left; margin:0 0 0 4px;}
ul.social li a{     font-size: 25px;
    color: #fff;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    padding-top: 3px;}

ul.social li a:hover{ background:#868686;}
ul.social li a.in{ background:#02669a; }
ul.social li a.twiit{ background:#2aa9e0;}
ul.social li a.googlePlus{ background:#d3492c;}
ul.social li a.facebook{ background:#204385;}
#topHeader .navbar-nav > li.dropdown:hover .helpWrap{ padding:0 !important;}
.helpWrap { padding:0 0 0 0; border-radius:0; border:#efefef solid 1px; font-family: 'Roboto', sans-serif; border-top:none;  box-shadow:none;}
.helpWrap h4 { font-size:20px;  margin:17px 0 30px 16px; color:#939393; font-weight:400;}
.heplTop { padding:0;}
ul.helpLink { padding:0;  }
ul.helpLink li { list-style:none; border-bottom:#e5e5e5 solid 1px; padding:10px 0 10px 16px;}
ul.helpLink li:last-child { border:none;}
ul.helpLink li a { color:#2b2b2b; font-size:15px; font-weight:400;}
ul.helpLink li a span { font-weight:600; text-decoration:underline;}
.heplBottm { margin:60px 0 0 0; background:#e5e5e5; padding:13px 18px;  }
.heplBottm a { font-family: 'Roboto', sans-serif; font-size:17px; color:#0088cc; }
.signContainer { position:relative;}
.signClose { position:absolute; right:20px; top:20px;}


.signClose1 { position:absolute; right:20px; top:11px;}
.signClose3 { position:absolute; right:11px; top:14px;}
.signClose3 img{ border-radius:0!important;}

/*.regiBox{ margin:10px 0 0 0;}
.regiSelect{ float:left; width:76px; margin:0 5px 0 0;}
.regiSelect:last-child{ margin:0;}
.regiBox .form-control { color:#bdbdbd; font-size:14px; font-weight:100; font-style:italic; border:none; border-bottom:#efefef solid 1px; box-shadow:none; padding:6px 12px 9px 0; height:inherit;}
.regiBox ul li { float:left; width:48%; margin:0 19px 0 0;}
.regiBox ul li:nth-child(2n){ margin:0 0 0 0;}*/
.SearchWrap { padding:0; width:100%; border-radius:0; border:#efefef solid 1px; border-top:none; box-shadow:none;}
.SearchWrap .form-group { margin:0;}
.SearchWrap .form-control{ color:#bdbdbd; font-size:24px; font-weight:100; font-style:italic; border:none;  box-shadow:none; padding:10px 12px 16px 12px; height:inherit;}
.SearchWrap .form-control:focus { color:#2b2b2b !important; font-style:normal; }
.searchIcon .glyphicon { font-size:20px;}
.searchIcon a{  padding:21px 20px 13px 20px !important;  }
.searchIcon a:hover{ background:none !important; color:#fff !important; border-bottom:none !important;}
.navbar-default .searchIcon>.open>a, .navbar-default .searchIcon>.open>a:focus, .navbar-default .searchIcon>.open>a:hover { background:none;}

.messageIcon > a { color:#fff !important; line-height:15px !important; background:url(../images/icons/notification-icon.png) no-repeat center 23px; padding:30px !important; border:none !important;}

.messageIcon > a:hover{ background:url(../images/icons/notification-hover-icon.png) no-repeat center 23px #fff !important; border:none !important; padding:30px !important;}
.messageIcon > a.active{ background:url(../images/icons/notification-hover-icon.png) no-repeat center 23px #fff !important; border:none !important; padding:30px !important;}
.messageIcon > a:focus{ background:url(../images/icons/notification-hover-icon.png) no-repeat center 23px #fff !important; border:none !important; padding:30px !important;}

/*.navbar-default .navbar-nav>.messageIcon>.open>a, .navbar-default .navbar-nav>.messageIcon>.open>a:focus, .navbar-default .navbar-nav>.messageIcon>.open>a:hover{ background:url(../images/icons/notification-hover-icon.png) no-repeat center center #fff !important; border:none !important; padding:30px !important;}*/
/*.navbar-default .navbar-nav > .messageIcon > .open > a, .navbar-default .navbar-nav  > .messageIcon > .open > a:focus, .navbar-default .navbar-nav > .messageIcon > .open > a:hover { background:url(../images/icons/notification-hover-icon.png) no-repeat center center #fff !important; border:none !important; padding:30px !important;}*/
 

.messageIconWrap { padding:0; border-radius:0; border:#858688 solid 1px; font-family: 'Roboto', sans-serif; border-top:none;  box-shadow:none; right:125px !important; color:#535960; width:35%;}
.messageIconWrap h3{ font-weight:400; font-size:15px; padding:15px 0 15px 20px; border-bottom:#ececec solid 2px; margin:0;}
.messageIconWrap ul { padding:0; width:100%;}
.messageIconWrap ul li { list-style: none; padding:15px 20px; width:100%; float:left; border-bottom:#ececec solid 1px; color:#535960; font-weight:300;}
.messageIconWrap ul li span{ color:#000;}
.msgLeft { width:74%;}
.messageBottm { width:100%; float:left; border-top:#cccccc solid 1px;}
.messageBottm a { display:block; text-align:center; background:#efefef; font-size:16px; color:#535960; padding:15px 0;}
.messageTop { width:100%; float:left;}
.messageScroll { height:150px; overflow-y:scroll; background:#fcf8e5;}
.count {        position: absolute;
    top: 4px;
    right: 6px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    font-size: 12px;
    padding: 4px 0 0 0;
    width: 22px;
    height: 22px;
    text-align: center;}

.count:hover {        position: absolute;
    top: 4px;
    right: 6px;
    background-color: #ec433c;
    color: #fff;
    border-radius: 7px;
    font-size: 12px;
    padding: 4px 0 0 0;
    width: 22px;
    height: 22px;
    text-align: center;}

.messageIcon1 > a { color:#fff !important; line-height:15px !important; background:url(../images/icons/message-hover-icon.png) no-repeat center 23px; padding:30px !important; border:none !important;}
.messageIcon1 > a:hover{ background:url(../images/icons/message-icon.png) no-repeat center 23px #fff !important; border:none !important; padding:30px !important;}
.messageIconWrap .media h4 { color:#2b2b2b; font-size:14px; font-weight:400; }
.messageBottm1 { width:100%; float:left; border-top:#cccccc solid 1px;}
.messageBottm1 a { display:block; text-align:center; background:#efefef; font-size:16px; color:#535960; padding:15px 0; float:left; width:50%; border-right:#cccccc solid 1px;}
.messageBottm1 a:last-child{ border:none;}
.messageBottm1 .glyphicon { 
    font-weight: 100;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; line-height:0; padding:7px 3px 0 0;}
	
.setProImg {     top: 6px;
    border-radius: 50%;
    left: -20px;
    float: left;
    margin-top: -11px;
    margin-right: 10px;}
	
.count1 {        
    background-color: #cccccc;
    color: #fff;
    border-radius: 7px;
    font-size: 12px;
    padding: 4px 0 0 0;
    width: 22px;
    height: 22px;
    text-align: center;}
	
.setWrap { padding:0; border-radius:0; border:#858688 solid 1px; font-family: 'Roboto', sans-serif; border-top:none;  box-shadow:none; right:20.41% !important; color:#535960; width:25%;}
.setWrap h3{ font-weight:400; font-size:15px; padding:15px 0 15px 20px; border-bottom:#ececec solid 2px; margin:0;}
.setWrap ul { padding:0; width:100%;}
.setWrap ul li { list-style: none; padding:12px 20px; width:100%; float:left; color:#2b2b2b;}
.setWrap ul li a { color:#2b2b2b;}
.setWrap ul li a .fa { color:#cccccc; font-size:19px !important; margin:0 10px 0 0;}
.setWrap ul li a img{ margin-right:15px;}

.sortWrap { float:left;  }
.sortWrap1 { float:left; margin:0  0 0 10px;}



.pushmenu {
        background:#2d2f30;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
}
 
.pushmenu h3 {
        color: #cbbfad;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 20px;
        margin: 0;
        background: #282522;   
        height: 16px;
}
 
.pushmenu a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 14px;
}
 
.pushmenu a:hover {
        background:258ecd;     
}
 
.pushmenu a:active {
        background: #454f5c;
        color: #fff;   
}
 
.pushmenu-left {
        right: -240px;  
}
 
.pushmenu-left.pushmenu-open {
        right: 0px;     
}
 
.pushmenu-push {
        overflow-x: hidden;
        position: relative;
        right: 0;       
}
 
.pushmenu-push-toright {
        right: 240px;   
}

#topHeader{
	right: 0px; 
	-webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
}

.pushmenu-push-toright #topHeader{
	right: 240px; 
	-webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
}
 
/*Transition*/
.pushmenu, .pushmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; /*color:#fff;   */
}
 
#nav_list {
        background: url(icon_nav.png) no-repeat left top;
        cursor: pointer;
/*        height: 27px;
        width: 33px;
        text-indent: -99999em; */
}
 
#nav_list.active {
        background-position: -33px top;
}

/*new*/


/*.pushmenu1 {
 display:none;
}*/
 
/*.pushmenu1 h3 {
 display:none;
}
 
.pushmenu1 a {
 display:none;
}
 
.pushmenu1 a:hover {
 display:none;
}
 
.pushmenu1 a:active {
 display:none; 
}*/
 
/*.pushmenu-left1 {
 display:none;
}*/
 
.pushmenu-left1.pushmenu-open1 {
  display:none;  
}
 

.pushmenu-push-toright1 {
 display:none;
}
 

 
#nav_list1 {
 display:none;
}
 
#nav_list1.active {
 display:none;
}



.homeBanner { background:#000000; padding:60px 0 0 0;}
.homeBanner .carousel-inner > .item > a > img, .carousel-inner > .item > img { margin:0 auto;}
.homeBanner .carousel-caption { left:0; right:0; margin:0 auto; width:70%; padding-bottom:18px;}
.homeBanner .carousel-caption h1{ font-size:60px; font-weight:300;}
.homeBanner .carousel-caption h2{ font-size:18px; font-family: 'Roboto', sans-serif; margin:0 0 36px 0;}
.homeBanner .carousel-caption .area { font-size:16px; font-weight:300; margin:0 0 18px 0; display:block;}
.homeBanner .carousel-caption .link a{ background:rgba(0, 0, 0, 0.5); font-size:22px; color:#fff; border:#46484b solid 1px; padding:10px 16px; }
.homeBanner .carousel-caption a:hover{ text-decoration:none; background:#fff; color:#049ce2; text-shadow:none !important; border:none;}
.homeBanner .carousel-caption .homeForm { margin:100px auto 0 auto; width:974px; }
.homeBanner .carousel-caption .topBor { height:2px; background:rgba(255, 255, 255, 0.2); margin:0 0 4px 0;}
.homeBanner .carousel-caption .form-control { background:rgba(255, 255, 255, 0.2); border-radius:0; border:none; color:#e5e5e5; font-size:20px; height:inherit ; }
.homeBanner .carousel-caption .form-control option { background: url(../images/select-bg.png) repeat;}
.homeBanner .carousel-caption  .col-md-3 { padding:0 3px 0 0; width:288px !important; }
.homeBanner .carousel-caption  .col-md-1 { padding:0; width:50px !important;}
.homeBanner .carousel-caption .btn-default { background:rgba(255, 255, 255, 0.2); border:none; border-radius:0; font-size:20px; color:#fff; width:100%; border-radius:2px; }
.homeBanner .carousel-caption .btn-default:hover{ background:#fff; color:#333;}
.homeBanner .carousel-caption .btn-default.active{background:#fff; color:#333;}
.homeBanner .carousel-caption .btn-default:focus{background:#fff; color:#333;}
.homeBanner .carousel-caption .btn-default:hover > a { background:#fff; color:#ef4135; border:#ef4135 solid 1px; border-bottom:#fff solid 1px;}
.homeBanner .carousel-caption .dropdown { color:#fff;}
.homeBanner .carousel-caption .open .btn-default { background:#fff; color:#333;}
.homeBanner .carousel-caption .btn-default:hover > a { background:#fff; color:#232528;}
.homeBanner .carousel-caption .col-md-1 .btn-default { background:#049ce2;}
.homeBanner .carousel-caption .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, #homeBanner .carousel-caption .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover  { background:#fff;}
.homeBanner .carousel-caption .btn { text-align:left; position:relative;}
.homeBanner .carousel-caption .btn:hover{background:#fff !important; color:#232528 !important;}
.region { padding:0 0 20px 0 !important;}
.region .form-group { padding:15px 15px 0 15px; margin:0; }
.region .form-group .form-control { border:#d1d1d1 solid 1px !important; position:relative; padding-left:43px; font-size:16px; font-family: 'Roboto', sans-serif; color:#808080;}
.region .glyphicon { position:absolute !important; top:26px; color:#808080; font-size:18px; left:26px; font-weight:100; }
input[type=radio].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

input[type=radio].css-checkbox + label.css-label {
							padding-left:34px;
							height:20px; 
							display:inline-block;
							line-height:18px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:16px;
							vertical-align:middle;
							cursor:pointer; font-weight:400; width:100%;

						}

input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -20px;
						}
						label.css-label {
				background-image:url(../images/icons/radio-btn.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
input[type=checkbox].css-checkbox1 {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox1 + label.css-label1 {
							padding-left:34px;
							height:20px; 
							display:inline-block;
							line-height:18px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:16px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox1:checked + label.css-label1 {
							background-position: 0 -20px;
						}
						label.css-label1 {
				background-image:url(../images/icons/checkBox-icon.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

 
.homeBanner .carousel-caption .btn .caret { display:inline; border:none; position:absolute; right:28px;}
.homeBanner .carousel-caption .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] { margin-left:0;}
.homeBanner .carousel-caption .checkbox  { padding:10px 40px 10px 18px; margin:0; font-family: 'Roboto', sans-serif;}

.homeBanner .carousel-caption .checkbox:hover{ background:#efefef;}
.homeBanner .carousel-caption .checkbox:active{ background:#efefef;}
.homeBanner .carousel-caption .checkbox label{ text-shadow:none;  color:#2b2b2b; font-size:16px; }
.bannerDrop { margin:0; border-radius:0; padding:0; width:100%;}
.homeBanner .carousel-inner { overflow:inherit; z-index:10;}
.homeForm .dropdown-menu { margin:0; border-radius:0; width:100%; padding:0; border:none; top:98%;}
.homeForm .dropdown-menu>li
{	/*position:relative;*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.homeForm .dropdown-menu > li > a{ padding:0;}
.homeForm .dropdown-menu > li > a:hover{ background:none; padding:0;}
.homeForm .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
background:#efefef; border:none; box-shadow:2px 2px 5px  rgba(0,0,0,.175);
}
.regionSubMenu { left:0 !important; right:0 !important; top:41px !important;}
.rightSubMenu { left: -100% !important; box-shadow:-2px 2px 5px  rgba(0,0,0,.175) !important;}
.homeForm .dropdown-menu .sub-menu h6{ text-shadow:none; color:#232528; font-size:16px; padding:0 0 0 16px;}



.homeForm .right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.homeForm .right-caret:after
{	border-left: 5px solid #ffaf46;
}
.homeForm .left-caret:after
{	border-right: 5px solid #ffaf46;
}
.homeForm .tooltip { font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; }


.inBanner { margin:0; border-radius:0; padding:60px 0 0 0; width:100%;}
.inBanner .carousel-inner > .item > a > img, .carousel-inner > .item > img { margin:0 auto;}
.inBanner .carousel-caption { left:0; right:0; margin:0 auto; width:70%; padding-bottom:40px;}
.inBanner .carousel-caption h1{ font-size:36px; font-weight:300;}
.inBanner .carousel-caption .homeForm { margin:20px auto 0 auto; width:974px; }
.inBanner .carousel-caption .topBor { height:2px; background:rgba(255, 255, 255, 0.2); margin:0 0 4px 0;}
.inBanner .carousel-caption .form-control { background:rgba(255, 255, 255, 0.2); border-radius:0; border:none; color:#e5e5e5; font-size:20px; height:inherit ; }
.inBanner .carousel-caption .form-control option { background: url(../images/select-bg.png) repeat;}
.inBanner .carousel-caption  .col-md-3 { padding:0 3px 0 0; width:288px !important; }
.inBanner .carousel-caption  .col-md-1 { padding:0; width:50px !important;}
.inBanner .carousel-caption .btn-default { background:rgba(255, 255, 255, 0.2); border:none; border-radius:0; font-size:20px; color:#fff; width:100%; border-radius:2px; }
.inBanner .carousel-caption .btn-default:hover{ background:#fff; color:#333;}
.inBanner .carousel-caption .btn-default.active{background:#fff; color:#333;}
.inBanner .carousel-caption .btn-default:focus{background:#fff; color:#333;}
.inBanner .carousel-caption .btn-default:hover > a { background:#fff; color:#ef4135; border:#ef4135 solid 1px; border-bottom:#fff solid 1px;}
.inBanner .carousel-caption .dropdown { color:#fff;}
.inBanner .carousel-caption .open .btn-default { background:#fff; color:#333;}
.inBanner .carousel-caption .btn-default:hover > a { background:#fff; color:#232528;}
.inBanner .carousel-caption .col-md-1 .btn-default { background:#049ce2;}
.inBanner .carousel-caption .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, #inBanner .carousel-caption .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover  { background:#fff;}
.inBanner .carousel-caption .btn { text-align:left; position:relative;}
.inBanner .carousel-caption .btn:hover{background:#fff !important; color:#232528 !important;}

.inBanner .carousel-caption .btn .caret { display:inline; border:none; position:absolute; right:28px;}
.inBanner .carousel-caption .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] { margin-left:0;}
.inBanner .carousel-caption .checkbox  { padding:10px 40px 10px 18px; margin:0; font-family: 'Roboto', sans-serif;}

.inBanner .carousel-caption .checkbox:hover{ background:#efefef;}
.inBanner .carousel-caption .checkbox:active{ background:#efefef;}
.inBanner .carousel-caption .checkbox label{ text-shadow:none;  color:#2b2b2b; font-size:16px; }

.inBanner .carousel-inner { overflow:inherit; z-index:10;}

/*.inBanner .carousel-caption .homeForm { margin:18px 0 0 0; }
.inBanner .carousel-caption .topBor { height:2px; background:rgba(255, 255, 255, 0.2); margin:0 0 4px 0;}
.inBanner .carousel-caption .form-control { background:rgba(255, 255, 255, 0.2); border-radius:0; border:none; color:#e5e5e5; font-size:20px; height:inherit ; }
.inBanner .carousel-caption .form-control option { background: url(../images/select-bg.png) repeat;}
.inBanner .carousel-caption  .col-md-3 { padding:0 3px 0 0; width:288px !important; }
.inBanner .carousel-caption  .col-md-1 { padding:0; width:50px !important;}

.inBanner .carousel-caption  .col-md-4 { padding:0 3px 0 0; width:304px !important; }
.inBanner .carousel-caption  .col-md-4:last-child { padding:0;}
.inBanner .carousel-inner { overflow:inherit; z-index:10;}

.inBanner .carousel-caption .btn-default { background:rgba(255, 255, 255, 0.2); border:none; border-radius:0; font-size:20px; color:#fff; width:100%; border-radius:2px; }
.inBanner .carousel-caption .col-md-1 .btn-default { background:#049ce2;}
.inBanner .carousel-caption .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover { background:#fff;}
.inBanner .carousel-caption .btn { text-align:left; position:relative;}
.inBanner .carousel-caption .btn:hover{background:#fff; color:#232528;}
.inBanner .carousel-caption .btn .caret { display:inline; border:none; position:absolute; right:28px;}
.bannerDrop { margin:0; border-radius:0; padding:0; width:100%;}
.inBanner .carousel-captiong { overflow:inherit; z-index:10;}
.inBanner .carousel-caption .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] { margin-left:0;}
.inBanner .carousel-caption .checkbox  { padding:10px 40px 10px 18px; margin:0; font-family: 'Roboto', sans-serif;}
.inBanner .carousel-caption .checkbox:hover{ background:#efefef;}
.inBanner .carousel-caption .checkbox label{ text-shadow:none; font-size:14px; color:#2b2b2b; margin:0 0 0 14px;}
.inBanner .carousel-inner { overflow:inherit; z-index:10;}
.inBanner .dropdown-menu { margin:0; border-radius:0; width:100%; padding:0; border:none;}
.inBanner .dropdown-menu>li
{	position:relative;
	-webkit-user-select: none;    
	-moz-user-select: none;
	-ms-user-select: none; 

	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.inBanner .dropdown-menu > li > a{ padding:0;}
.inBanner .dropdown-menu > li > a:hover{ background:none; padding:0;}

.inBanner .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
	background:#efefef; border:none;
}
.rightSubMenu { left: -100% !important;}
.inBanner .dropdown-menu .sub-menu h6{ text-shadow:none; color:#232528; font-size:16px; padding:0 0 0 16px;}*/

#industry { background:#eaf2f6; padding:48px 0;}
#industry h3{ color:#2b2b2b; font-size:42px; font-weight:100; text-align:center; margin:0 0 29px 0;} 
#industry h4{ color:#535960; font-size:18px; font-weight:300; text-align:center; margin:0 0 62px 0; font-family: 'Roboto', sans-serif;}
#industry h4 span{ color:#0088cc;}
.industryWrap .industryBox {  width:214px; height:214px; border:#e2ebf0 solid 1px; margin:0 25px 25px 0; text-align:center; transition:All 0.5s; cursor:pointer; padding:0;}
.industryWrap .industryBox .text { margin:42px 0 0 0; color:#535960;}
/*.industryWrap .industryBox:hover .text { color:#fff;}*/
/*.industryWrap .industryBox:hover{ transform:translate(0,-20px); -webkit-transform:translate(0,-20px);}*/
.industryWrap .industryBox:nth-child(5n) { margin:0 0 25px 0;}
/*.industryWrap .industryBox a{  display:block; color:#535960;}
.industryWrap .industryBox a:hover{ text-decoration:none;}*/
.industryWrap .industryBox a { padding:28px 0 0 0; background:#fff; width:100%; height:100%; display:block; text-decoration:none;}
.industryWrap .industryBox a:hover { background:#f6f6f6;}
/*.industryWrap .industryBox a.energy {background: url(../images/icons/energy-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.energy:hover {background: url(../images/icons/energy-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.materials {background: url(../images/icons/materials-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.materials:hover {background: url(../images/icons/materials-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.industrials {background: url(../images/icons/industrial-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.industrials:hover {background: url(../images/icons/industrial-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.discretionary {background: url(../images/icons/discretionary-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.discretionary:hover {background: url(../images/icons/discretionary-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.staples {background: url(../images/icons/staples-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.staples:hover {background: url(../images/icons/staples-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.healthcare {background: url(../images/icons/healthcare-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.healthcare:hover {background: url(../images/icons/healthcare-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.financials {background: url(../images/icons/financial-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.financials:hover {background: url(../images/icons/financial-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.technology {background: url(../images/icons/info-technology-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.technology:hover {background: url(../images/icons/info-technology-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.telecom {background: url(../images/icons/telecom-service-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.telecom:hover {background: url(../images/icons/telecom-service-icon-hover.png) no-repeat center 28px #6ab9fa;}

.industryWrap .industryBox a.utilities {background: url(../images/icons/utilities-icon.png) no-repeat center 28px #fff;}
.industryWrap .industryBox a.utilities:hover {background: url(../images/icons/utilities-icon-hover.png) no-repeat center 28px #6ab9fa;}*/


.inBanner1 img { margin:0 auto; width:100%;}


#people{ padding:37px 0 37px 0;}
#people h3{ color:#2b2b2b; font-size:42px; font-weight:100; text-align:center; margin:0 0 13px 0;} 
#people h4{ color:#535960; font-size:18px; font-weight:300; text-align:center; margin:0 0 62px 0; font-family: 'Roboto', sans-serif;}
#people h4 span{ font-weight:500;}
.grayBox{ height:100px; margin:142px 0 0 0; overflow:hidden;}
.grayBox img { height:100%; width:100%;}
.pepBox { padding:0 10px 0 0 !important; position:relative; height:242px;}
.pepImg1 { width:230px !important;}
.pepImg2 { width:250px !important;}
.greyWrap{ width:150px !important;}
.pepopleWrap .pepBox:last-child { padding:0 !important;}
.pepopleWrap { margin-bottom:10px;}
.pepopleWrap1 { margin-bottom:30px;}
.pepFirst { margin:42px 0 0 0; position:relative; overflow:hidden; height:200px;}
.imgIn { height:100%; width:100%;}
.pepText { position:absolute; bottom:0; width:100%; padding:90px 0 16px 24px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+16&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 16%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.pepText h5{ color:#fff; font-family: 'Roboto', sans-serif; font-size:24px; margin:0 0 4px 0;}
.pepText h6{ color:#fff; font-family: 'Roboto', sans-serif; font-size:14px; font-weight:300; margin:0;}
.pepText1 { position:absolute; bottom:0; width:100%; padding:0 0 8px 24px;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+16&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 16%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.pepText1 h5{ color:#fff; font-family: 'Roboto', sans-serif; font-size:16px; margin:0 0 4px 0;}
.pepText1 h6{ color:#fff; font-family: 'Roboto', sans-serif; font-size:12px; font-weight:300; margin:0;}

.pepText2 { position:absolute; bottom:0; width:100%; padding:0 0 8px 24px;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+16&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 16%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 16%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.pepText2 h5{ color:#fff; font-family: 'Roboto', sans-serif; font-size:16px; margin:0 0 4px 0;}
.pepText2 h6{ color:#fff; font-family: 'Roboto', sans-serif; font-size:12px; font-weight:300; margin:0;}

.grayBox1{ height:100px; margin:10px 0 0 0;}
.imgIn1 { margin:32px 0 0 0; position:relative; height:100px; width:100%; overflow:hidden; }
.grayBox2{  height:100px;  }
.pepImg3 { width:270px !important;}
.pepImg3 img { width:100%;}
.grayComman {background:#bbbbbb; height:100%; width:100%; }

.imgIn2 {position:relative; overflow:hidden; height:100%; width:100%;}
.imgIn3 {position:relative; overflow:hidden; height:168px; width:100%;} 

#people .modal-title { margin:0 !important; color:#2b2b2b;}
#people .modal-header h4{color:#2b2b2b; text-align:left; font-weight:400; font-size:14px;}
#people .modal-content { border-radius:0;}
#people .modal-body { padding:0;}
#people .modal-header { padding:8px 13px;}
.nameContainer { width:100%; height:100%; position:absolute; /*margin:140px 0 0 0;*/ background:rgba(0,0,0,0.6); padding:19px; margin-top:190px; left:0; top:0; z-index:2; text-align:center; font-family: 'Roboto', sans-serif; text-decoration:none; font-size:13px; color:#fff; cursor:pointer;  }
.nameContainer .glyphicon { font-size:46px; padding:46px 0 0 0;}

#videoWrap { background: url(../images/home-bg.jpg) no-repeat center center; height:700px; padding:170px 0 0 0; position:relative; }
#videoWrap .modal-open .modal { overflow-y:inherit; top:-30px; }
#videoWrap .modal { position:absolute; overflow:inherit;}
.videoBox { text-align:center; color:#fff; width:822px; /*position:relative;*/}
.videoBox  h3{ font-size:60px; font-weight:100; margin:0 0 13px 0;} 
.videoBox  h4{ font-size:30px; font-weight:100; margin:0 0 62px 0;}
.videoBox .videoIcon { display:block; background:url(../images/icons/video-icon.png); height:100px; width:100px; cursor:pointer; margin:0 auto;}
.videoBox .videoIcon:hover { display:block; background:url(../images/icons/video-icon-hover.png);}
.videoBox .videoText { display:block;  font-family: 'Roboto', sans-serif; font-size:18px; font-weight:300; margin:50px 0 0 0;}
#videoWrap .modal-title { margin:0 !important; color:#2b2b2b;}
#videoWrap .modal-header h4{color:#2b2b2b; text-align:left; font-weight:400; font-size:14px;}
#videoWrap .modal-dialog { width:750px; margin:0 auto;}
#videoWrap .modal-content { border-radius:0;}
#videoWrap .modal-body { padding:0;}
#videoWrap .modal-header { padding:8px 13px;}
.videoBox img { cursor:pointer;}
.modal-backdrop.in { opacity:0.7;}
.videoPop { display:none;     position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;}
.videoCloseBtn { position:absolute; right:20px; top:20px; z-index:1;}
.videoWrap { width:100%; height:100%;}
#knowledge {  background: url(../images/knowledge-bg.jpg) no-repeat center center; height:700px; padding:57px 0 0 0; }	
#knowledge  h3{ font-size:60px; font-weight:100; margin:0 0 13px 0; text-align:center; color:#fff; line-height:50px;} 
#knowledge  h3 span{ font-weight:300;}
#knowledge  h4{ font-size:30px; font-weight:100; margin:0 0 62px 0; text-align:center; color:#fff;}
.knowledgeWrap { width:940px; margin:0 auto 40px auto; font-family: 'Roboto', sans-serif;}
.knowledgeBox { background:#fff; margin:0 20px 0 0; width:300px; padding:0; box-shadow: 1px 1px 5px #000;}
.knowledgeBox:first-child { margin:20px 20px 0 0; height:255px;}
.knowledgeBox:last-child { margin:20px 0 0 0; height:255px;}
.knowText { padding:20px 34px 80px 34px; font-size:18px; color:#2d2d36; font-style:italic;}
.knowText1 { padding:38px 30px 38px 30px; font-size:22px; color:#2d2d36; font-style:italic;}
.knowBottm { background:#e2ecf1; padding:14px; }
.knowBottm  .media-body { color:#64686d; font-size:14px; font-weight:300; line-height:16px;}
.share { text-align:center; margin:55px 0 0 0;}
.share a { background:#fff; border-radius:2px; text-align:center; color:#049ce2; font-size:18px; padding:13px 34px; font-family: 'Roboto', sans-serif;}
#knowledge .modal-dialog { width:90%;}
#knowledge .modal-title { margin:0 !important; color:#2b2b2b;}
#knowledge .modal-header h4{color:#2b2b2b; text-align:left; font-weight:400; font-size:14px;}
.modal-body { color:#333;}
.knowledgeWrap1 { display:none;}
 .modal-body .form-group { margin:10px 0 0 0;}
 .modal-body .btn {font-size:18px;
  color: #049ce2;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #049ce2;
  padding: 8px 25px; 
  background:#fff;
  border-radius:2px;

  display: inline-block;
}
  
 .modal-body .btn:hover,  .modal-body .btn:focus,  .modal-body .btn:active{	
  text-decoration: none;
  color: #fff !important;	
  border: 1px solid #049ce2;
    background: #049ce2;
}



#city {  background: #f7f7f7; padding:57px 0 30px 0; }	
#city  h3{ font-size:60px; font-weight:100; margin:0 0 13px 0; text-align:center; color:#2d2d36;} 
#city  h4{ font-size:30px; font-weight:100; margin:0 0 62px 0; text-align:center; color:#2d2d36;}
.cityWrap { width:940px; margin:0 auto; font-family: 'Roboto', sans-serif; font-weight:400;}
.cityWrap1 { display:none;}
ul.cityLink  { padding:0; float:left;}
ul.cityLink  li {  list-style:none; float:left; margin:0 73px 0 0;}
ul.cityLink  li a{ font-size:18px; color:#049ce2; list-style:none; float:left;}
ul.cityLink li:last-child { margin:0;}
ul.cityLink1  { padding:0; margin:17px 0 40px 0; float:left;}
ul.cityLink1  li {  list-style:none; float:left; margin:0 98px 0 0;}
ul.cityLink1  li a{ font-size:18px; color:#049ce2;}
ul.cityLink1 li:last-child { margin:0;}
.custom-btn{text-align: center;}
.custom-btn a{
  font-size: 18px;
  color: #049ce2;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #049ce2;
  padding: 8px 20px; 
  background:#fff;
  border-radius:2px;

  display: inline-block;
  vertical-align: middle;

}
.custom-btn a:hover, .custom-btn a:focus, .custom-btn a:active{	
  text-decoration: none;
  color: #fff !important;	
  border: 1px solid #049ce2;
    background: #049ce2;
}



.custom-btn1{
  text-align: center;
}

.custom-btn1 a{
  font-size: 18px;
  color: #049ce2;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #fff;
  padding: 8px 20px; 
  background:#fff;
  border-radius:2px;

  display: inline-block;
  vertical-align: middle;

}


.custom-btn1 a:hover, .custom-btn1 a:focus, .custom-btn1 a:active{	
  text-decoration: none;
  color: #fff !important;	
  border: 1px solid #049ce2;
    background: #049ce2;
}


.custom-btn{text-align: center;}

.search-btn a{
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #0088cc;
  padding: 12px 20px; 
  background:#049ce2;
  border-radius:2px;

  display: inline-block;
  vertical-align: middle;

}
.search-btn a:hover, .search-btn a:focus, .search-btn a:active{	
  text-decoration: none;
  color: #049ce2 !important;	
  border: 1px solid #049ce2;
  background:#fff;
}




.SerachInnerWrap { background:url(../images/serach-bg.jpg) repeat;}
/*.searchResult { background:#fff;}
.searchResult1 { background:none;}*/
.searchResultTop { border-bottom:#e5e5e5 solid 1px; padding-top:19px; padding-bottom:5px; font-family: 'Roboto', sans-serif;}
.searchResultTop h2 { font-size:17px; color:#64686d; font-weight:400; margin:7px 0 0 0; float:left;}
ul.searchList{ float:left; margin:0 0 0 10px; list-style:none; padding:0;}
ul.searchList li { float:left; margin:0 5px 0 0;  border:#e5e5e5 solid 1px; border-radius:16px; padding-right:9px;}
ul.searchList li a { color:#64686d;  padding:6px 19px 6px 10px;  font-size:12px; background:url(../images/icons/close-icon2.png) no-repeat right center; float:left;}
ul.searchList li a:hover { text-decoration:none;} 
ul.searchList .glyphicon.glyphicon-remove{ margin:0 0 0 10px; }
.searchResultBox {padding:19px 0 19px 60px; background:#fff; margin-bottom:2px; border-bottom:#e6e6e6 solid 1px;}
.searchResultBox h3 { color:#ef4135; font-size:24px; font-weight:300; border-right:#bcbcbc solid 1px; float:left; margin:0; padding:0 18px 0 0;}
.searchResultBox h4{ color:#535960; font-size:14px;}
.searchResultBox1 { border:none;}
.searchResultBox1 h5{ color:#535960; font-size:16px !important; float:left !important; font-weight:300;}
.searchResultBox1 h5 span{ font-weight:400;}
.starWrap{ float:left; margin:5px 0 0 18px;}
.starWrap1{ float:left; margin:5px 0 0 0;}
.starGray{ background:url(../images/icons/star1.png) no-repeat; width:17px; height:17px; float:left; margin:0 3px 0 0;}
.starRed{ background:url(../images/icons/star2.png) no-repeat; width:17px; height:17px; float:left; margin:0 3px 0 0;}
.starRed1{ background:url(../images/icons/star3.png) no-repeat; width:17px; height:17px; float:left; margin:0 3px 0 0;}
.starRed2{ background:url(../images/icons/star4.png) no-repeat; width:17px; height:17px; float:left; margin:0 3px 0 0;}
.starRedHalf{ background:url(../images/icons/star5.png) no-repeat; width:17px; height:17px; float:left; margin:0 3px 0 0;}

.searchResultBox1 .modal-title { margin:0 !important; color:#2b2b2b;}
.searchResultBox1 .modal-header h4{color:#2b2b2b; text-align:left; font-weight:400; font-size:14px;}
.searchResultBox1 .modal-content { border-radius:0;}
.searchResultBox1 .modal-body { padding:0;}
.searchResultBox1 .modal-header { padding:8px 13px;}
.nameContainer { width:100%; height:100%; position:absolute; /*margin:140px 0 0 0;*/ background:rgba(0,0,0,0.6); padding:19px; margin-top:190px; left:0; top:0; z-index:2; text-align:center; font-family: 'Roboto', sans-serif; text-decoration:none; font-size:13px; color:#fff; cursor:pointer;  }
.searchBoxViewRow{ padding:10px 0 0 0;}
.searchBoxViewRow .col-md-3{ margin-bottom:20px;}
.searchBoxView { background:#fff; box-shadow:0px 3px 3px #ebecec;}
.searchBoxView img{ width:100%; border-radius:2px;}
.searchBoxViewText{ padding:18px 20px;}
.searchBoxViewText h3 { color:#ef4135; font-size:24px; font-weight:300; float:left; margin:0 0 8px 0;}
.searchBoxViewText h4{ color:#535960; font-size:14px;}
.searchBoxViewText h5{ color:#535960; font-size:18px; margin:20px 0;}
.searchBoxViewText h5 span { padding:0 0 0 24px;}
.searchBoxViewlink  a{
  font-size: 18px;
  color: #049ce2;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #0088cc;
  padding: 9px 0; 
  border-radius:2px;
  display: inline-block;
  vertical-align: middle; width:100%; text-align:center;

}
.searchBoxViewlink  a:hover, .searchBoxViewlink a:focus, .searchBoxViewlink a:active{	
  text-decoration: none;
  color: #fff;
  border: 1px solid #049ce2;
  background:#049ce2;
}

.searchBoxViewlink .glyphicon {  
    font-weight: 100;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; line-height:0; padding:10px 3px; }


.searchBoxViewText ul  { margin:20px 0 0 0; padding:0;}
.searchBoxViewText ul li { list-style:none; float:left; margin:0 24px 0 0;}
.searchBoxViewText ul li a{ color:#cecccc; font-size:20px;}
.searchBoxViewText ul li a:hover{  color: #049ce2;}
.serachTab table tr td { border:none;}

.msgWrap{}
.msgBody { padding:32px !important; font-family: 'Roboto', sans-serif; }
.msgBody label { font-weight:400; font-size:16px;}
.msgBody .form-control { border-radius:0;}
.msgBody p{ color:#bbbbbb !important;}
.msgBody p span { font-style:italic;}
.msgBody p a { color:#049ce2 !important; font-size:14px !important; }
.msgBody p a:hover{ text-decoration:underline !important;}
.msgBody .btn {font-size:18px;
  color: #049ce2;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #049ce2;
  padding: 8px 25px; 
  background:#fff;
  border-radius:2px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; margin:0 16px 0 0;}
.msgBtn { margin:10px auto 20px auto !important; text-align:center; }


/*.star1{ background:url(../images/star-img1.jpg) no-repeat; float:left; width:95px; height:17px; margin:5px 0 0 18px;}
.star2{ background:url(../images/star-img2.jpg) no-repeat; float:left; width:95px; height:17px; margin:5px 0 0 18px;}
.star3{ background:url(../images/star-img3.jpg) no-repeat; float:left; width:95px; height:17px; margin:5px 0 0 18px;}
.star4{ background:url(../images/star-img4.jpg) no-repeat; float:left; width:95px; height:17px; margin:5px 0 0 18px;}*/
.searchNum { margin:5px 0 0 6px; float:left;  font-family: 'Roboto', sans-serif; }
ul.searchList1 { list-style:none; margin:15px 0; padding:0;}
ul.searchList1 li {  border:#e5e5e5 solid 1px; padding:5px 9px; color:#535960; font-size:13px; float:left; font-family: 'Roboto', sans-serif; font-weight:300; font-style:italic; margin:0 4px 0 0; background:#fbfbfb;}
ul.searchList1 li:last-child{ margin:0;}
.searchResultBox p { font-family: 'Roboto', sans-serif; color:#2b2b2b; font-size:14px; line-height:20px;}
.searchResultBox h5{ color:#64686d; font-size:24px; margin:2px 0; float:right;}
.searchResultBox h6{ color:#64686d; font-size:14px; margin:2px 0; float:right;}
.searchResultBox h5 span{ font-size:16px; }
.rate { margin:48px 0 0 0; color:#64686d;}
ul.profileLink { list-style:none; padding:0; float:right;}
ul.profileLink li { float:left; margin:0 0 0 20px;}
ul.profileLink li a { color:#cccccc; font-size:19px; }
ul.profileLink li a:hover{ color:#64686d;} 

ul.profileLink1 { list-style:none; padding:0;}
ul.profileLink1 li { float:left; margin:0 20px 0 0 ;}
ul.profileLink1 li a { color:#cccccc; font-size:19px; }
ul.profileLink1 li a.redBookmark { color:#ef4135;}
ul.profileLink1 li a:hover{ color:#64686d;} 

.profileCol{ /*width:157px !important;*/ padding-top:48px;}
.profileCol-2 { margin-top:58px; text-align:center;}
/*.profileCol-1{ width:542px !important;}*/
ul.printWrap { list-style:none; float:right;}
ul.printWrap li { float:left; margin:0 0 0 22px;}
.follow{ border-top:#f0f0f0 solid 1px; font-size:16px; color:#cccccc; font-family: 'Roboto', sans-serif; font-weight:400; padding:20px 0 0 10px;}
.follow span { font-size:24px;}
.display { float:left; margin:7px 8px 0 0;}
.viewWrap { float:left;}
.viewWrap ul { border:#ebebeb solid 1px; background:#fff; float:left; padding:0;}
.viewWrap ul li{ float:left; list-style:none;}
.viewWrap ul li a{ color:#92979e; background:#fff; float:left; padding:5px 9px; font-size:17px;}
.viewWrap ul li a:hover{ background:#92979e; color:#fff;}
.viewWrap ul li a.active{ background:#92979e; color:#fff;}

.searchSlideWrap { background:rgba(255, 255, 255, 0.9);
    position:absolute;
    right: 70px; color:#000; display:none; margin:0 auto; text-align:center; width:90%; height:80%; padding:70px 0 0 0;
}
.searchClosePro { position:absolute; right:0; top:0; cursor:pointer;}

.searchSlideWrap ul { padding:0;}
.searchSlideWrap ul li { list-style:none; display:inline-block; margin:0 40px 0 0;}

.sortBox { float:right; position:relative;}
.sort .btn { font-size:16px; border-radius:1px; color:#64686d; border:#e5e5e5 solid 1px; padding:2px 12px;}
.sortList{ border:#dddddd solid 1px; box-shadow:1px 1px 5px #ececec; border-radius:2px; margin:0; left:inherit; right:50%; padding:0 !important;}
.sortBox .dropdown, .dropup { position:inherit;}
.sort .btn .caret { margin-left:40px; font-size:22px;}
.sort .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover { background:#efefef; border:#e5e5e5 solid 1px; 
color:#000000;}	
.sort .btn-default:hover {background:#efefef; color:#000000;}
.sort .caret { display:inline; border:none;}
.sortList > li { border-bottom:#cfcfcf solid 1px;}
.sortList > li > a { color:#323232; padding:10px 46px 10px 20px; } 
.sortList > li:last-child{ border:none;}
.sortList > li > a:focus, .dropdown-menu > li > a:hover { background:#049ce2; color:#fff;}

.filter{ border:#dddddd solid 1px; box-shadow:1px 1px 5px #ececec; border-radius:2px; margin:0; left:inherit; right:0 !important; padding:0 !important;}
.filter:after {
   
	content: url('../images/icons/filter-arrow.png');
   
    color:#bababa;

    right:11px; top:-14px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.filter h6{ color:#2b2b2b; font-size:14px; padding:0; margin:0;} 
.filterTop { padding:17px 14px;}
.filter hr{ margin:0;} 
.filterClose{ position:absolute; right:10px; top:10px; cursor:pointer;}


ul.youTubeWrap{ list-style:none; float:left; margin:20px 0 0 0; padding:0;}
ul.youTubeWrap li { float:left; border:#e5e5e5 solid 1px; border-radius:2px; padding:3px 5px; margin:0 8px 0 0;}
ul.youTubeWrap li a { color:#535960; font-size:12px;}
ul.youTubeWrap li a:hover { color:#ef4135; text-decoration:none;}
ul.youTubeWrap li a .fa { font-size:24px; margin:0 6px 0 0 ;}

.tabber{ padding:0 60px; margin:59px 0 0 0;}
.tabber .nav-tabs { border:none;}
.tabber .nav-tabs>li>a { color:#bbbbbb; font-family: 'Roboto', sans-serif; font-size:16px; border-bottom:#bbbbbb solid 2px;}
.tabber .nav-tabs>li.active>a:hover { border:none; border-bottom:#0088cc solid 2px; color:#0088cc; }
.tabber .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { border:none; border-bottom:#0088cc solid 2px; color:#0088cc; }
.tabber a.profileBg { background:url(../images/icons/profile-icon.jpg) no-repeat left center; }
.tabber a.workBg { background:url(../images/icons/work-icon.jpg) no-repeat left center; }
.tabber a.availbale { background:url(../images/icons/availability-icon.jpg) no-repeat left center; }
.tabber .nav-tabs>li>a{ padding-left:52px; padding-bottom:10px; font-weight:300;}
.tabber .tab-content { padding:30px 0; font-family: 'Roboto', sans-serif;}
.proWrap h2{ font-size:30px; font-weight:300; color:#2b2b2b; font-family: 'Roboto Slab', serif; margin:0 0 25px 0; }
.proWrap p { font-size:16px; font-weight:300; line-height:25px; margin:0 0 40px 0;}
.historyPannel{ background:#f6f6f6; padding:38px; font-family: 'Roboto Slab', serif; font-size:14px;}
.historyPannel h3 { font-weight:300; color:#2b2b2b; margin:0 0 15px 0;}
.historyPannel .media-body h4 { color:#535960; font-size:20px; font-weight:300; margin:9px 0 0 0;}
.historyPannel .media-body h5 { color:#535960; font-size:14px; font-weight:300; margin:0;}
.media-left img { border:#e5e5e5 solid 1px; margin:0 10px 0 0;}
.workWrap h2 { font-size:18px; font-weight:400;}
.workImgWrap{ padding:0 5px;}
.workImgBox1 { height:320px;}
.workImgBox1 img { width:100%; height:100%; border-radius:3px;}
.workImgBox2 { height:150px;}
.workImgBox2 img { width:100%; height:100%; border-radius:3px;}
.workImgBox3 { height:310px; margin:10px 0 10px 0;}
.workImgBox3 img { width:100%; height:100%; border-radius:3px;}
.workImgBox4 { margin:10px 0 10px 0;}
.workImgBox4 img { width:100%; height:100%; border-radius:3px;}
.greenWrap{ margin:10px 0 0 0;}
.greenBox{ background:#d1e9cd; height:150px; border-radius:3px; }
.skyBlueBox{ background:#c5ecfb; height:150px; border-radius:3px; padding:18px 36px 0 18px;}
.skyBlueBox a img { float:left; margin:0 20px 20px 0;}
.skyBlueBox a { font-size:16px; color:#000; text-transform:uppercase; font-weight:400; line-height:18px;}
.autoBox { margin:0 0 10px 0;}
.blueBox{ background:#0088cc; height:150px; border-radius:3px; margin:0 0 10px 0; padding:19px 0 0 19px;}
.blueBox a { color:#fff; font-size:14px;}
.blueBox a span { margin:12px 0 0 0; display:block;}
.orangeBox{ background:#fee2c4; height:150px; width:100%; border-radius:3px; margin:0 0 10px 0; display:table; text-align:center; }
.orangeBox a { display:table-cell; vertical-align:middle;}
.gray1Box{ background:#e5e5e5; height:150px; border-radius:3px; margin:0 0 10px 0; }
.workComman { width:100%; position:relative;}
.workTextWrap{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+69 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 69%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(69%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 69%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 69%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 69%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 69%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */width:100%;  position:absolute; bottom:0; padding:0 0 40px 16px; border-radius:3px; color:#fff; font-size:14px; }

.workTextWrap  h2 { font-size:36px; text-transform:uppercase; margin:2px 0;}
.workTextWrap  h3{ font-size:24px; text-transform:uppercase;}

.workTextWrap2{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,0069a2+100&0+0,1+92 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,97,149,1) 92%, rgba(0,105,162,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(92%,rgba(0,97,149,1)), color-stop(100%,rgba(0,105,162,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,97,149,1) 92%,rgba(0,105,162,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,97,149,1) 92%,rgba(0,105,162,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,97,149,1) 92%,rgba(0,105,162,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,97,149,1) 92%,rgba(0,105,162,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0069a2',GradientType=0 ); /* IE6-9 */width:100%;  position:absolute; bottom:0; padding:0 0 40px 16px;  border-radius:3px; color:#fff;  font-size:14px; }

.workTextWrap2  h2 { font-size:34px; text-transform:uppercase; margin:2px 0; line-height:32px;}


.slider-select {
  padding: 30px 0 30px 0;
}
.slider-select i {
  display: block;
  margin: 5px 0;
  font-size: 12px;
  font-weight: bold;
}
.slider-select i.low {
  float: left;
  clear: left;
}
.slider-select i.high {
  float: right;
  clear: right;
}
.slider-select input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
  color: #444;
  font-weight: bold; margin:18px 0 0 0;
}
.ui-widget-content { background:#bebebe !important; border:none !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border-radius:50px;}
.ui-widget-header { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da4836+0,1b9ddf+100 */
background: #da4836 !important; /* Old browsers */
background: -moz-linear-gradient(left, #da4836 0%, #1b9ddf 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#da4836), color-stop(100%,#1b9ddf)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #da4836 0%,#1b9ddf 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #da4836 0%,#1b9ddf 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(left, #da4836 0%,#1b9ddf 100%) !important; /* IE10+ */
background: linear-gradient(to right, #da4836 0%,#1b9ddf 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da4836', endColorstr='#1b9ddf',GradientType=1 ) !important; /* IE6-9 */}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background:#fff !important; border:#21a0e0 solid 1px !important;} 
.ui-slider-horizontal { height:.6em !important;} 

ul.currencyList { margin:18px 0 0 0; padding:0;}
ul.currencyList li { float:left;  list-style:none; margin:0 5px 5px 0; border:#cccccc solid 1px; border-radius:2px;}
ul.currencyList li:last-child{ margin:0 0 5px 0;  }
ul.currencyList li :hover{ border:#1b9ddf solid 1px;}
ul.currencyList li a {  color:#323232; padding:5px 10px; display:block; }
ul.currencyList li a:hover{ background:#1b9ddf; padding:5px 10px;  color:#fff; text-decoration:none;}

.paginationWrap { text-align:center; padding:60px 0;} 
.paginationWrap .pagination>li>a, .pagination>li>span { color:#92979e; border:none; padding:6px; background:none;}

.whiteBgWrap { background:url(../images/serach-bg.jpg) repeat; padding:60px 0 0 0;}
.whiteBg { background:#fff; box-shadow:0px 3px 3px #eaeaea; margin-bottom:60px;}
.registrationWrap { width:60%; margin: auto; text-align:center;}
.registrationWrap h1{ color:#535960; font-size:36px; font-weight:300; margin:40px 0 30px 0;}
.registrationWrap h2{ color:#939393; font-size:20px; font-weight:300;}
.registrationWrap h3{ color:#939393; font-size:13px; font-weight:100; font-family: 'Roboto', sans-serif; margin:10px 0 0 0;}
.registrationWrap h4{ color:#939393; font-size:20px; font-weight:300; font-family: 'Roboto Slab', serif; margin:0 0 40px 0;}
.registrationWrap h5{ color:#939393; font-size:16px; font-weight:400; margin:20px 0 40px 0; font-family: 'Roboto', sans-serif;}
.registrationWrap p { font-size:13px;}
.registrationWrap p a{ text-decoration:underline; color:#049ce2;}
ul.regiBlock{ padding:0; margin:15px 0 0 0;}
ul.regiBlock li { list-style:none; display:inline-block; width:50px; height:50px; border-radius:2px; margin:0 10px 0 0;}
ul.regiBlock li:last-child { margin:0;}
ul.regiBlock li.blueRegi { background:#00bff3;}
ul.regiBlock li.drkBlueRegi { background:#104995;}
ul.regiBlock li.orgRegi { background:#df4a31;} 
.registrationForm{  font-family: 'Roboto', sans-serif; color:#939393; padding-top:40px;} 
.registrationIn {border-bottom:#ebebeb solid 1px; border-top:#ebebeb solid 1px; padding-top:35px; padding-bottom:35px;}
.registrationForm .form-control { color:#bdbdbd; font-size:24px; font-weight:100; font-style:italic; border:none; border-bottom:#ebebeb solid 2px; box-shadow:none; padding:6px 12px 0 0; height:inherit; border-radius:0;}
.registrationForm .form-control:focus { color:#2b2b2b !important; font-style:normal; border-bottom:#049ce2 solid 2px }
.registrationForm .form-group span { text-align:left; display:block; color:#939393; margin:5px 0 0 0; font-size:12px;}
.spamImg { border-bottom:#ebebeb solid 2px; padding:0 0 9px 0; text-align:left; border-right:#ebebeb solid 1px;}
.registrationForm select {
    padding:3px;
    margin: 0;

color:#bdbdbd; font-size:24px; font-weight:100; font-style:italic;
    background: none;

    border:none;
	border-bottom:#ebebeb solid 2px;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer; width:100%; 
}

.registrationForm label {position:relative; width:100%;}
.registrationForm label:after {
   
	content: url('../images/icons/arrow-1.png');
   font-family: 'Roboto', sans-serif; font-weight:300;
    color:#bababa;

    right:15px; top:10px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.registrationForm label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}

.registrationForm .form-group { margin-bottom:36px;}
.spamCode { padding-right:0;}
.spamCodeTxt {padding-left:0; }
.spamCodeTxt .form-control{  padding-left:20px;}
.registrationForm .btn-default {font-size: 24px;
  color: #fff;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #049ce2;
  padding: 5px 90px; 
  background:#049ce2;
  border-radius:2px;

  display: inline-block;
  vertical-align: middle; margin:40px 0 0 0;
}
  
.registrationForm .btn-default:hover, .signRow .btn-default:focus, .signRow .btn-default:active{	
  text-decoration: none;
  color: #049ce2;
  border: 1px solid #049ce2;
    background: #fff;
}

#footerTop { background:#2d2f30; padding:29px 0 55px 0; font-family: 'Roboto', sans-serif;}
.footerLink { width:780px; margin:0 auto;}
.footerLogo{ width:300px; margin:0 auto; text-align:center;}
.footerLogo img { display:inline;}
.footerSerach{ border-top:#3c3e3f solid 1px; margin:12px 0 0 0; padding:14px 0 0 0;}
.footerSerach .form-control { background:none; border:#3c3e3f solid 1px; font-size:12px; font-family: 'Roboto', sans-serif; font-weight:300; color:#fff;} 
.footerSerach select option { background:#2d2f30;}
.footerList { margin:55px 0 0 0;}
.footerList .col-md-3 h5 { color:#bcbcbc; font-size:16px;}
.footerList .col-md-3 ul { padding:0; list-style:none;}
.footerList .col-md-3 ul li a { color:#64686d;}
#footerBottm { background:#242626; padding:25px 15px; font-family: 'Roboto', sans-serif; border-top:#383a3b solid 1px; color:#64686d; font-size:12px;}
.powerLink{ color:#505354;}
.powerLink a { color:#505354;}

.rightAccor .panel{ background:none;  border:none; font-family: 'Roboto', sans-serif; }
.rightAccor .panel-default>.panel-heading { background:none; border:none; padding:10px 0;}
.rightAccor .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {color:#bcbcbc; font-size:16px;}
.rightAccor .panel-default>.panel-heading+.panel-collapse>.panel-body { border-top:#3c3e3f solid 1px}
.rightAccor .panel-group .panel { box-shadow:none; border-bottom:#3c3e3f solid 1px;} 
.rightAccor .panel-group .panel ul { padding:0; list-style:none;}
.rightAccor .panel-group .panel ul li a { color:#64686d;}
.rightAccor .panel-group .panel ul li a:hover { text-decoration:none;}
.rightAccor .panel-group .panel ul li a:focus  { text-decoration:none;}
.rightAccor .panel-group .panel ul li  a:hover { text-decoration:none;}
.rightAccor .panel-group .panel .glyphicon {     float: right;
    font-weight: 100;
    font-size: 25px;
    border: #ccc 1px solid; font-family: 'Roboto', sans-serif; line-height:0; padding:10px 3px; }



.footerList1 { display:none;}


.footerSerach select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;

    background: none;
    color:#bababa;
    border:#3c3e3f solid 1px;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer; width:100%; font-size:12px; font-family: 'Roboto', sans-serif; font-weight:400;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .footerSerach select {padding-right:18px}
}

.footerSerach label {position:relative; width:100%;}
.footerSerach label:after {
    content:'>';
   font-family: 'Roboto', sans-serif; font-weight:300;
    color:#bababa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:15px; top:2px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.footerSerach label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}




@media( max-width:1024px){
.homeBanner .carousel-caption { width:87%;}
.industryWrap .industryBox { width:174px;}
.greyWrap { width:8.33333333% !important;}
.homeBanner .carousel-caption .homeForm { width:100%;}


}



@media( min-width:991px){
/*#topHeader .navbar-nav > li.dropdown:hover .dropdown-menu {
display: table;
text-align: left;
position: absolute;

}


.sortWrap .dropdown:hover .dropdown-menu {
display: table;
text-align: left;
position: absolute;
padding: 10px;
}

.sortWrap1 .dropdown:hover .dropdown-menu {
display: table;
text-align: left;
position: absolute;
padding: 10px;
}


	
#topHeader .navbar-nav > li.dropdown { position: static; }
#topHeader .navbar-nav > li.dropdown .dropdown-menu {

width: 100%;
left: 0px;
right: 0;
}

#topHeader .navbar-nav > li.dropdown .signWrap {

width: 100%;
left: 0px;
right: 0;
}

#topHeader .navbar-nav > li.dropdown .helpWrap {

width: 32%;
right: 0;
left:inherit;
}*/

}

/*.sortWrap .dropdown { position: static; }
.sortWrap .dropdown .dropdown-menu {
display: none;
width: 70%;
	
right: 0;
}

.sortWrap1 .dropdown { position: static; }
.sortWrap1 .dropdown .dropdown-menu {
display: none;
width: 100%;

right: 0;
}*/

@media( min-width:1280px){
	.homeBanner .carousel-caption .col-md-3 { width:308px !important;}
	.inBanner .carousel-caption .col-md-3 { width:308px !important;} 
}

/*@media(width:1400px) {
	.homeBanner .carousel-caption .col-md-3 { width:316px !important;}
	.inBanner .carousel-caption .col-md-3 { width:316px !important;} 
}*/

/*@media(width:1600px) {
	.homeBanner .carousel-caption .col-md-3 { width:363px !important;}
	.inBanner .carousel-caption .col-md-3 { width:363px !important;} 
}
*/

	
@media (min-width:601px) and (max-width:800px) {
.videoBox { width:100%;}
.cityWrap { width:100%;}
#knowledge { height:inherit; background:#fa4340; padding:28px 0;}
.footerLink { width:100%;}
.knowledgeWrap { width:100%;}
.homeBanner { padding-bottom:150px;}
.homeBanner .carousel-caption .homeForm { margin:47px 0 0 0; width:100%;}
.homeBanner .carousel-caption { padding-bottom:0; bottom:0; top:111px;}
.homeBanner .carousel-caption h1 { font-size:48px;}
.homeBanner .carousel-caption h2 { font-size:14px;}
.homeBanner .carousel-caption { width:85%;}
.homeBanner .carousel-caption .col-md-3 { width:31.3% !important; float:left;}
.homeBanner .carousel-caption .col-md-1 { width:43px !important; float:left;}
.homeBanner .carousel-caption .btn-default { font-size:18px;}

.industryWrap .industryBox { width:129px; margin:0 18px 18px 0; height:inherit;}
.industryWrap .industryBox:nth-child(5n) { margin:0 0 18px 0;}

/*.industryWrap .industryBox a.energy {background: url(../images/icons/energy-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.energy:hover {background: url(../images/icons/energy-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.materials {background: url(../images/icons/materials-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.materials:hover {background: url(../images/icons/materials-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.industrials {background: url(../images/icons/industrial-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.industrials:hover {background: url(../images/icons/industrial-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.discretionary {background: url(../images/icons/discretionary-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.discretionary:hover {background: url(../images/icons/discretionary-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.staples {background: url(../images/icons/staples-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.staples:hover {background: url(../images/icons/staples-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.healthcare {background: url(../images/icons/healthcare-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.healthcare:hover {background: url(../images/icons/healthcare-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.financials {background: url(../images/icons/financial-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.financials:hover {background: url(../images/icons/financial-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.technology {background: url(../images/icons/info-technology-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.technology:hover {background: url(../images/icons/info-technology-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.telecom {background: url(../images/icons/telecom-service-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.telecom:hover {background: url(../images/icons/telecom-service-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.utilities {background: url(../images/icons/utilities-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.utilities:hover {background: url(../images/icons/utilities-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}*/

.industryWrap .industryBox { height:165px;}
.industryWrap .industryBox .text { margin: 14px 0; }
.industryWrap .industryBox img { width: 86%;}
.industryWrap .industryBox a { float: left; padding: 10px;}
.industryWrap { margin:0;}

.knowledgeWrap { display:none;}
.knowledgeWrap1 { width:100%; margin:0 auto 98px auto; font-family: 'Roboto', sans-serif;}
.knowledgeWrap1 { display:block;}
.knowledgeWrap1 .carousel-indicators { bottom:-40px;}
.knowledgeWrap1 .carousel-inner { padding:10px 0;}
.knowledgeBox { width:70%; margin:0 auto !important;} 
.pepImg1 { width:100% !important; margin:0 0 1px 0;}
.imgIn img { width:100%;}
.pepopleWrap .pepBox:nth-child(1) { display:none;} 
.pepopleWrap .pepBox:nth-child(2) { display:none;}
.pepopleWrap .pepBox:nth-child(4) { display:none;} 
.pepopleWrap .pepBox:nth-child(5) { display:none;} 
.pepopleWrap1 .pepBox:nth-child(1) { display:none;}  
.pepopleWrap1 .pepBox:nth-child(4) { display:none;}  
.pepopleWrap1 .pepBox:nth-child(3) { padding:0;} 
.imgIn1 { margin:1px 0 0 0;}
.pepopleWrap { margin:0 0 10px 0; }
.pepopleWrap1 { margin:0 0 30px 0; }
.pepImg3 { float:left;}
#topHeader .navbar-nav > li.dropdown .signWrap { background:#fff;}
.signWrap { padding:10px 0 20px 0 !important;}
.signWrap h4 { font-size:22px; margin:20px 0 30px 0;}
.signRow .signLeft { padding:0 10px; border:none; }
.signRow .signRgt { padding:0 10px; margin:107px 0 0 0;}
.signRow span { margin:0 0 0 8px;}
.signRow .btn-default { font-size:20px;}
.regiBox ul li { width:100%; margin:0;}
#topHeader .navbar-nav > li.dropdown .helpWrap { background:#fff; width:100%;}
.SearchWrap .form-control { font-size:15px;}
.homeForm .dropdown-menu .sub-menu { position:static;}
ul.cityLink { width:100%;}
ul.cityLink li { margin:0 36px 0 0;}
ul.cityLink1 li { margin:0 55px 0 0;}
.imgIn2 img { width:100%;}
#videoWrap { padding:70px 0 0 0;}
.videoBox h3 { font-size:38px; margin:0 0 30px 0;}
.videoBox h4 { font-size:24px; margin:0 0 135px 0;}
.videoBox .videoText { margin:114px 0 0 0;}
#knowledge h3 { font-size:36px; margin:0 0 24px 0;}
#knowledge h4 { font-size:24px; margin:0 0 66px 0;} 
#city h3 { font-size:36px;}
#city h4 { font-size:24px;}
.pepImg3 { width:50% !important;}


} 
@media(width:768px){
	.homeBanner .carousel-caption .col-md-3 { width:31.2% !important;}
}

@media( max-width:767px){
/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;  }*/
	

#serchHover { position:absolute; top:0; right:65px;}
.SearchWrap { position:absolute !important; width:100% !important; left:0;}

#topHeader .navbar-collapse { width:inherit; float:inherit;}
#topHeader .navbar-nav { margin-bottom:-3.5px;}
#topHeader .navbar-brand { padding:5px 5px 0 11px;}
.searchIcon a { padding-bottom:12px !important;}
#topHeader .navbar-collapse { padding-left:15px;}
.helpWrap h4 { padding:17px 0 30px 16px; margin:0;}
.homeBanner .carousel-caption .homeForm {width:100%;}
#topHeader .navbar-brand>img { width:50%;}
#topHeader .navbar-brand>span { padding:1px 0 0 10px; }
#topHeader .navbar-nav > li > a { padding:14px 20px 15px 20px; border:none;}
#topHeader .navbar-nav > li > a:hover {  border:none;}
#topHeader .dropdown-menu { top:53px;}
.searchIcon a { padding:15px 20px 13px 20px !important;}
.profile-box { display:none;}
.knowledgeBox { margin:0  !important; min-height:310px;} 
#topHeader .navbar-right > li { position:relative;}
.pushmenu1 {
        background: #3c3933;
        font-family: 'Roboto', sans-serif;
        position: fixed;
        width: 295px;
        height: 100%;
        top: 0;
        z-index: 1000; 
		display:block; 
}
 
.pushmenu1 h3 {
        color: #cbbfad;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 20px;
        margin: 0;
        background: #282522;   
        height: 16px;
		display:block; 
}
 
.pushmenu1 a {
        display: block;
        color: #fff;

        text-decoration: none;

		display:block; 
}
 
.pushmenu1 a:hover {
 display:block;      
}
 
.pushmenu1 a:active {
        background: #454f5c;
        color: #fff;    display:block; 
} 
 
.pushmenu-left1 {
        right: -280px;  
		display:block; 
}
 
.pushmenu-left1.pushmenu-open1 {
        right: 0px; 
		display:block;     
}
 
.pushmenu-push1 {
        overflow-x: hidden;
        position: relative;
        right: 0;   display:block;     
}
 
.pushmenu-push-toright1 {
        right: 280px; 
		display:block;   
}
 
/*Transition*/
.pushmenu1, .pushmenu-push1 {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; display:block;   
}
 
#nav_list1 {
        background: url(icon_nav.png) no-repeat left top;
        cursor: pointer; display:block;
/*        height: 27px;
        width: 33px;
        text-indent: -99999em; */
}
 
#nav_list1.active {
        background-position: -33px top;
		display:block;
}

.registrationWrap { width:100%;}
.inBanner { padding:54px 0 0 0;}
.searchResultTop{ display:none;}

} 






@media( max-width:600px){

.videoBox { width:100%;}
.cityWrap { width:100%;}

.footerLink { width:100%;}
.knowledgeWrap { width:100%;}
.homeBanner { padding-bottom:150px;}
.homeBanner .carousel-caption .homeForm { margin:47px 0 0 0;}
.homeBanner .carousel-caption { padding-bottom:0; bottom:0; top:0;}
.homeBanner .carousel-caption h1 { font-size:48px;}
.homeBanner .carousel-caption h2 { font-size:14px;}
.homeBanner .carousel-caption { width:85%;}
.homeBanner .carousel-caption .col-md-3 { width:165px !important; float:left;}
.homeBanner .carousel-caption .col-md-1 { width:43px !important; float:left;}
.homeBanner .carousel-caption .btn-default { font-size:18px;}

.industryWrap .industryBox { width:99px; margin:0 18px 18px 0; }
.industryWrap .industryBox:nth-child(5n) { margin:0 0 18px 0;}

/*.industryWrap .industryBox a.energy {background: url(../images/icons/energy-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.energy:hover {background: url(../images/icons/energy-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.materials {background: url(../images/icons/materials-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.materials:hover {background: url(../images/icons/materials-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.industrials {background: url(../images/icons/industrial-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.industrials:hover {background: url(../images/icons/industrial-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.discretionary {background: url(../images/icons/discretionary-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.discretionary:hover {background: url(../images/icons/discretionary-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.staples {background: url(../images/icons/staples-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.staples:hover {background: url(../images/icons/staples-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.healthcare {background: url(../images/icons/healthcare-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.healthcare:hover {background: url(../images/icons/healthcare-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.financials {background: url(../images/icons/financial-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.financials:hover {background: url(../images/icons/financial-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.technology {background: url(../images/icons/info-technology-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.technology:hover {background: url(../images/icons/info-technology-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.telecom {background: url(../images/icons/telecom-service-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.telecom:hover {background: url(../images/icons/telecom-service-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}

.industryWrap .industryBox a.utilities {background: url(../images/icons/utilities-icon-sm.png) no-repeat center 8px #fff;}
.industryWrap .industryBox a.utilities:hover {background: url(../images/icons/utilities-icon-sm-hover.png) no-repeat center 8px #6ab9fa;}*/
.industryWrap .industryBox { height:125px;}
.industryWrap { margin:0;}
.industryWrap .industryBox .text { margin: 14px 0; }
.industryWrap .industryBox img { width: 86%;}
.industryWrap .industryBox a { float: left; padding: 10px;}

.knowledgeWrap { display:none;}
.knowledgeWrap1 { width:100%; margin:0 auto 40px auto; font-family: 'Roboto', sans-serif;}
.knowledgeWrap1 { display:block;}
.knowledgeWrap1 .carousel-indicators { bottom:-40px;}
.knowledgeWrap1 .carousel-inner { padding:10px 0;}
.knowledgeBox { width:80%; margin:0 auto !important;} 
.pepImg1 { width:100% !important; margin:0 0 1px 0;}
.imgIn img { width:100%;}
.pepopleWrap .pepBox:nth-child(1) { display:none;} 
.pepopleWrap .pepBox:nth-child(2) { display:none;}
.pepopleWrap .pepBox:nth-child(4) { display:none;} 
.pepopleWrap .pepBox:nth-child(5) { display:none;} 
.pepopleWrap1 .pepBox:nth-child(1) { display:none;}  
.pepopleWrap1 .pepBox:nth-child(4) { display:none;}  
.pepopleWrap1 .pepBox:nth-child(3) { padding:0;} 
.imgIn1 { margin:1px 0 0 0;}
.pepopleWrap { margin:0 0 30px 0; }
.pepopleWrap1 { margin:0 0 30px 0; }
.pepImg3 { float:left;}
#topHeader .navbar-nav > li.dropdown .signWrap { background:#fff;}
.signWrap { padding:10px 0 20px 0 !important;}
.signWrap h4 { font-size:22px;}
.signRow .signLeft { padding:0 10px; border:none; }
.signRow .signRgt { padding:0 10px; margin:107px 0 0 0;}
.signRow span { margin:0 0 0 8px;}
.signRow .btn-default { font-size:20px;}
.regiBox ul li { width:100%; margin:0;}
#topHeader .navbar-nav > li.dropdown .helpWrap { background:#fff; width:100%;}
.SearchWrap .form-control { font-size:15px;}
.homeForm .dropdown-menu .sub-menu { position:static;}
.mentor { border-top:#ef4135 solid 1px;}
.signClose { display:none;}
.imgIn2 img { width:100%;}
#videoWrap { padding:70px 0 0 0;}
.videoBox h3 { font-size:38px; margin:0 0 30px 0;}
.videoBox h4 { font-size:24px; margin:0 0 135px 0;}
.videoBox .videoText { margin:114px 0 0 0;}
#knowledge { height:inherit; background:#fa4340; padding:36px 0;}
#knowledge h3 { font-size:36px; margin:0 0 24px 0;}
#knowledge h4 { font-size:24px; margin:0 0 66px 0;} 
.knowledgeWrap1 { margin:0 auto 98px auto;}
#city h3 { font-size:36px;}
#city h4 { font-size:24px;}
}

@media( min-width:581px){
/*	.homeBanner { padding-bottom:60px;}	
	.homeBanner .carousel-caption .homeForm { margin:150px 0 0 0;}*/

	}



@media( max-width:580px){
.industryWrap .industryBox { width:100%;}
.industryWrap .industryBox .text { float: left;
    margin: 14px 0 0 21px;
    text-align: left;}
.industryWrap .industryBox img { float: left; width: 20%;}
/*.industryWrap .industryBox a.energy {background: url(../images/icons/energy-icon-sm.png) no-repeat  20px center #fff;}
.industryWrap .industryBox a.energy:hover {background: url(../images/icons/energy-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.materials {background: url(../images/icons/materials-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.materials:hover {background: url(../images/icons/materials-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.industrials {background: url(../images/icons/industrial-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.industrials:hover {background: url(../images/icons/industrial-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.discretionary {background: url(../images/icons/discretionary-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.discretionary:hover {background: url(../images/icons/discretionary-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.staples {background: url(../images/icons/staples-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.staples:hover {background: url(../images/icons/staples-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.healthcare {background: url(../images/icons/healthcare-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.healthcare:hover {background: url(../images/icons/healthcare-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.financials {background: url(../images/icons/financial-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.financials:hover {background: url(../images/icons/financial-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.technology {background: url(../images/icons/info-technology-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.technology:hover {background: url(../images/icons/info-technology-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.telecom {background: url(../images/icons/telecom-service-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.telecom:hover {background: url(../images/icons/telecom-service-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}

.industryWrap .industryBox a.utilities {background: url(../images/icons/utilities-icon-sm.png) no-repeat 20px center #fff;}
.industryWrap .industryBox a.utilities:hover {background: url(../images/icons/utilities-icon-sm-hover.png) no-repeat 20px center #6ab9fa;}*/

.industryWrap .industryBox { height:inherit; }
.industryWrap .industryBox a { float: left;
    padding: 11px 11px 11px 20px;}

#videoWrap { padding:20px 0; height:inherit; }
.videoBox h3 { font-size:32px;}
.videoBox h4 { font-size:16px;}
#knowledge h3 { font-size:26px; line-height:35px;}
#knowledge  h4 { font-weight:400; font-size:14px; margin:0 0 20px 0;}
#people h3  { margin:0 0 20px 0; font-size:30px;}
#people h4 { margin:0 0 20px 0;}
.pepImg1 { width:100% !important; margin:0 0 1px 0;}
.imgIn img { width:100%;}
.pepopleWrap .pepBox:nth-child(2) { display:none;} 
.pepImg2 {width:100% !important;}
.imgIn1 { margin:1px 0 0 0;}
.imgIn1 img { width:100%;}
.industryWrap { margin:0;}
.industryWrap .industryBox { margin:0;}
.industryWrap .industryBox:nth-child(5n) { margin:0;}
.industryWrap .industryBox:hover { transform:none;}
.custom-btn a { width:100%;}
.knowledgeBox { width:100%;}
.knowledgeBox:first-child { margin:0;}
.knowledgeBox:last-child { margin:0;}
#city { padding:18px 0;}
#city h3 { font-size:32px;}
#city h4  { font-size:14px; margin:0 0 19px 0;}
.custom-btn1 a { width:100%;}
.knowledgeWrap { display:none;}
.knowledgeWrap1 { width:100%; margin:0 auto 40px auto; font-family: 'Roboto', sans-serif;}
.knowledgeWrap1 { display:block;}
.knowledgeWrap1 .carousel-indicators { bottom:-40px;} 
.carousel-indicators li { background:none; border:#fff solid 1px;}
.knowledgeWrap1 .carousel-indicators .active { background:#fff; border:#fff solid 1px;}
.cityWrap { display:none;}
.cityWrap1 { display:block; width:100%; margin:0 auto; font-family: 'Roboto', sans-serif; font-weight:400;}
.cityWrap1 .form-control { font-size:18px; margin:0 0 9px 0; padding:9px 12px; height:inherit;}
.footerLogo { width:100%;}
.footerSerach .form-control { margin:0 0 10px 0;}
.footerList { margin:0;}
.footerList1 .panel{ background:none;  border:none;}
.footerList1 .panel-default>.panel-heading { background:none; border:none; padding:10px 0;}
.footerList1 .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {color:#bcbcbc; font-size:16px;}
.footerList1 .panel-default>.panel-heading+.panel-collapse>.panel-body { border-top:#3c3e3f solid 1px}
.footerList1 .panel-group .panel { box-shadow:none; border-bottom:#3c3e3f solid 1px;} 
.footerList1 .panel-group .panel ul { padding:0; list-style:none;}
.footerList1 .panel-group .panel ul li a { color:#64686d;}
.footerList1 .panel-group .panel ul li a:hover { text-decoration:none;}
.footerList1 .panel-group .panel ul li a:focus  { text-decoration:none;}
.footerList1 .panel-group .panel ul li  a:hover { text-decoration:none;}
.footerList1 .panel-group .panel .glyphicon {     float: right;
    font-weight: 100;
    font-size: 25px;
    border: #ccc 1px solid; font-family: 'Roboto', sans-serif; line-height:0; padding:10px 3px; }
.footerDesk { display:none;}
.footerList1 { display:block;}
.powerLink { float:none !important; text-align:center;} 
.copy {float:none !important; text-align:center; margin:0 0 4px 0;} 
.homeBanner .carousel-caption { padding-bottom:0; bottom:0; top:0;}
.homeBanner .carousel-caption h1 { font-size:32px;}
.homeBanner .carousel-caption .homeForm { margin:64px 0 0 0;}
.homeBanner .carousel-caption .col-md-3 { width:100% !important;}
.homeBanner { padding-bottom:126px; margin-bottom:310px;}
.homeBanner .carousel-caption .area { color:#2b2b2b; text-shadow:none; margin:0 0 20px 0;}
.homeBanner .carousel-caption .btn-default { border:#dddddd solid 1px;}
.homeBanner .carousel-caption .col-md-1 { width:100% !important;}
.homeBanner .carousel-caption .col-md-1 .btn-default { text-align:center; color:#fff; }
.homeBanner .carousel-caption .btn-default { color:#7f7f7f; font-size:18px;}
.homeBanner .carousel-caption .col-md-3 { margin:0 0 10px 0;}
.pepBox:first-child{ display:none;}
.pepBox:child{ display:none;}
.pepopleWrap1 { display:none;}
.pepImg2 { display:none;}
.pepBox { padding:0 !important;} 
#topHeader .navbar-nav > li.dropdown .signWrap { background:#fff;}
.signWrap { padding:10px 0 20px 0 !important;}
.signWrap h4 { font-size:22px;}
.signRow .signLeft { padding:0 10px; border:none; }
.signRow .signRgt { padding:0 10px; margin:107px 0 0 0;}
.signRow span { margin:0 0 0 8px;}
.signRow .btn-default { font-size:20px;}
.regiBox ul li { width:100%; margin:0;}
#topHeader .navbar-nav > li.dropdown .helpWrap { background:#fff; width:100%;}
.SearchWrap .form-control { font-size:15px;}
.homeForm .dropdown-menu .sub-menu { position:static;}
.signClose { display:none;}
.mentor { border-top:#ef4135 solid 1px;}
.imgIn2 img { width:100%;}
.pepImg3 { width:285px !important;}
.pepopleWrap { margin:0 0 10px 0;}
.mobVideo { display:block;} 
.videoIcon { display:none!important;}
.videoPop { display:none!important;}
/*.inBanner .carousel-caption .homeForm { display:none;}*/
.inBanner .carousel-caption h1{ font-size:24px; margin:5px 0;}
.inBanner .carousel-caption { padding:0; bottom:3px; width:85%;} 

.inBanner .carousel-caption {top:0;}

.inBanner .carousel-caption .homeForm { margin:33px 0 0 0; width:100%;}
.inBanner .carousel-caption .col-md-3 { width:100% !important;}
.inBanner { padding-bottom:126px; margin-bottom:310px;}
.inBanner .carousel-caption .area { display:none;}
.inBanner .carousel-caption .btn-default { border:#dddddd solid 1px;}
.inBanner .carousel-caption .col-md-1 { width:100% !important;}
.inBanner .carousel-caption .col-md-1 .btn-default { text-align:center; color:#fff; }
.inBanner .carousel-caption .btn-default { color:#7f7f7f; font-size:18px;}
.inBanner .carousel-caption .col-md-3 { margin:0 0 10px 0;}

.serachTab { display:none;}
.searchResultMob .media-body, .media-left img { width:40%;}
.searchResultBox { padding:0;}
.searchResultBox h3 { font-size:20px; border:none; padding:0;}


/*.pushmenu1 {
        background: #3c3933;
        font-family: 'Roboto', sans-serif;
        position: fixed;
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000; 
		display:block; 
}
 
.pushmenu1 h3 {
        color: #cbbfad;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 20px;
        margin: 0;
        background: #282522;   
        height: 16px;
		display:block; 
}
 
.pushmenu1 a {
        display: block;
        color: #fff;
        text-decoration: none;
        border-top: 1px solid #57544e;
        border-bottom: 1px solid #312e2a;
        padding: 14px;
		display:block; 
}
 
.pushmenu1 a:hover {
        background:258ecd; display:block;      
}
 
.pushmenu1 a:active {
        background: #454f5c;
        color: #fff;    display:block; 
} 
 
.pushmenu-left1 {
        right: -240px;  
		display:block; 
}
 
.pushmenu-left1.pushmenu-open1 {
        right: 0px; 
		display:block;     
}
 
.pushmenu-push1 {
        overflow-x: hidden;
        position: relative;
        right: 0;   display:block;     
}
 
.pushmenu-push-toright1 {
        right: 240px; 
		display:block;   
}
 
/*Transition*/
.pushmenu1, .pushmenu-push1 {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; display:block;   
}
 
#nav_list1 {
        background: url(icon_nav.png) no-repeat left top;
        cursor: pointer; display:block;
/*        height: 27px;
        width: 33px;
        text-indent: -99999em; */
}
 
#nav_list1.active {
        background-position: -33px top;
		display:block;
}*/





}

@media( width:480px){
	.homeBanner { padding-bottom:37px;}
	.homeBanner .carousel-caption .homeForm { margin:70px 0 0 0;}

}


@media( width:568px){
	.homeBanner { padding-bottom:35px;}
	.homeBanner .carousel-caption .homeForm { margin:120px 0 0 0;}

}

@media( max-width:320px){

/*.inBanner .carousel-inner > .item > a > img, .carousel-inner > .item > img { height:75px;}*/

}
	