﻿body
{
}
.googleIcon
{
	background: linear-gradient(to bottom,#e05037 0,#db432c 100%) rgba(0,0,0,0);
	border-radius: 7px;
	float: left;
	width: 190px;
}
.googleIcon img
{
	border-right: 1px solid #c9432c;
	float: left;
	padding: 5px 10px;
}
.googleIcon span
{
	border-left: 1px solid #d74730;
	display: block;
	float: left;
	margin: 0 !important;
	padding: 7px !important;
}
.googleIcon span a
{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}
.googleIcon span a:hover
{
	color: #000;
}
.fbIcon
{
	background: #6d89b9;
	background: -moz-linear-gradient(top,#6d89b9 0,#435e8d 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#6d89b9),color-stop(100%,#435e8d));
	background: -webkit-linear-gradient(top,#6d89b9 0,#435e8d 100%);
	background: -o-linear-gradient(top,#6d89b9 0,#435e8d 100%);
	background: -ms-linear-gradient(top,#6d89b9 0,#435e8d 100%);
	background: linear-gradient(to bottom,#6d89b9 0,#435e8d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d89b9', endColorstr='#435e8d', GradientType=0);
	width: 190px;
	border-radius: 7px;
	float: left;
}
.fbIcon img
{
	float: left;
	border-right: 1px solid #92acd7;
	padding: 5px 10px;
}
.fbIcon span
{
	padding: 10px 13px 18px !important;
	margin: 0 !important;
	display: block;
	float: left;
	height: 15px !important;
}
.fbIcon span a
{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
.fbIcon span a:hover
{
	color: #000;
}

.toolTipParent
{
	position: relative;
	width: 16px;
	height: 16px;
	padding: 0 2px;
	float:left;
}
.toolTipInner
{
	position: absolute;
	left: 16px;
	top: 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
	display: none;
	min-height: 100px;
	min-width: 180px;
	text-align: left;
	z-index: 10;
}
.toolTipParent .toolTipInner img
{
	cursor: pointer;
}
