﻿@charset "utf-8";
/* CSS Document */

.dashboard-container{
    padding: 150px 0px 50px 0px!important;
    min-height: 600px;
}

/*body{
	overflow-X: scroll !important;
}

.dashboard .container{
	width: 1280px;	
}*/

.dashboard .dashboard-nav{
    border-bottom: 0px solid #ebebeb;
    display: inline-block;
    margin-bottom: -5px;	
}

.dashboard .dashboard-nav li {
    margin-bottom: -2px;
    padding-right: 20px;	
}

.dashboard .dashboard-nav>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 2px solid transparent;
    border-radius: 0px;
	color: #3f3f3f;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
}

.dashboard .dashboard-nav li:first-child a img{
    padding-left: 0px;
    width: 30px;	
}

.dashboard .dashboard-nav li a img{
    padding-left: 0px;
    padding-right: 8px;	
    width: 30px;	
}

.dashboard .dashboard-nav>li>a:hover, .dashboard .dashboard-nav>li>a:focus, .dashboard .dashboard-nav li.active a{
    border: 2px solid transparent;
	background-color: transparent;
    border-color: transparent;
    color: #049ce2;
    border-bottom: 2px solid #049ce2;		
}

.welcome-text{
    margin-bottom: 10px;
}

.welcome-text h2{
	font-size: 36px;
	color: #535960;
	font-weight: 300;
}

.welcome-text h2 span{
	font-family: 'Roboto', sans-serif;	
	font-size: 12px;
	color: #30c911;
	font-weight: 400;
    vertical-align: middle;	
}

.welcome-text h6{
	font-family: 'Roboto', sans-serif;	
	font-size: 12px;
	color: #747474;
	font-weight: 400;	
}

.dashboard-slider-caption{
	font-family: 'Roboto', sans-serif;	
	font-size: 14px;
	color: #2b2b2b;
	font-weight: 300;	
}

.dashboard-slider-caption a{
	color: #049ce2;
}

.dashboard-slider{
    background: #fcf8e5;
    padding: 20px 130px 20px 20px;
    border: 1px solid #e5d795;
	margin-bottom: 20px;
}

.dashboard-slider .carousel-control {
    position: absolute;
    top: 28%;
    width: 24px;
    opacity: .3;
}

.dashboard-slider .carousel-control.left {
    right: 86px;
    left: auto;
}

.dashboard-slider .carousel-control.right {
    right: 15px;
}

.dashboard-slider .siderNum {
    position: absolute;
    right: 45px;
    top: 36%;
}

.dashboard-box{
	font-family: 'Roboto', sans-serif;	
	border: 1px solid #ebebeb;
    margin-bottom: 20px;	
}
.dashboard-box-bottom-row .dashboard-box{
    min-height: 365px;	
}

.dashboard-box .dashboard-box-title{
	font-family: 'Roboto', sans-serif;	
	background: #f8f8f8;
	font-size: 20px;
	font-weight: 300;
	color: #2b2b2b;
	padding: 15px;
	border-bottom: 1px solid #ebebeb;
}

.dashboard-box .dashboard-box-title .dropdown-menu {
    min-width: 138px !important;
    border-radius: 2px !important;
    padding: 0px !important;	
    right: 0px;
	left: auto;	
}

.dashboard-box .dashboard-box-title .dropdown-menu > li > a {
    padding: 5px 20px;
    color: #2B2B2B;
    border-bottom: 1px solid #CCC;
}

.dashboard-box .dashboard-box-title .dropdown-menu > li > a:focus, .dashboard-box .dashboard-box-title .dropdown-menu > li > a:hover {
    background: #049ce2;
    color: #fff;
}

.dashboard-box .dashboard-box-title .btn{
	background: #ffffff;
	font-size: 13px;
	font-weight: 400;
	color: #2b2b2b;
    padding: 6px 10px;	
	border: 1px solid #cccccc;
	vertical-align: middle;
    border-radius: 3px;	
}

.dashboard-box .dashboard-box-title .btn:hover{
	border: 1px solid #049ce2;
	color: #049ce2;
}

.dashboard-box .dashboard-box-title .btn-group .btn{
    padding: 8px 10px;
}

.dashboard-box .dashboard-box-title .btn-group .dropdown-toggle{
    padding: 6px 6px;
}

.meeting-room-box .meeting-by-date{
	font-size: 12px;
    color: #535960;
    margin: 0px;
    border-bottom: 2px solid #939393;
    padding: 10px 25px;	
}

.meeting-room-box .table{
	margin-bottom: 0px;
}

.meeting-room-box .meeting-details{
	background: #ffffff;
	border-left: 5px solid #ffffff;
    border-bottom: 1px solid #e5e5e5;	
}	

.meeting-room-box .meeting-details.accepted{
	background: #eff9ee;
	border-left: 5px solid #30c911;
}

.meeting-room-box .meeting-details.tentative{
	background: #fff4e3;
	border-left: 5px solid #f5a623;
}

.meeting-room-box .meeting-details.declined{
	background: #f8f8f8;
	border-left: 5px solid #f8f8f8;
}

.meeting-room-box .meeting-details td{
    padding: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #535960;
	vertical-align: middle;
}

.meeting-room-box .meeting-details td:first-child{
	text-align: right;
    vertical-align: top;	
}

.meeting-room-box .meeting-details td:nth-child(3){
    width: 130px;	
}

.meeting-room-box .meeting-details .meeting-msg{
	color: #2b2b2b;
	cursor: pointer;
}

.meeting-room-box .meeting-details .meeting-msg a{
	color: #2b2b2b;
}

.meeting-room-box .meeting-details.declined .meeting-msg{
	color: #939393;
}

.meeting-room-box .meeting-details span{
	font-weight: 400;
	font-size: 12px;
	color: #939393;
}

.meeting-room-box .meeting-details td.meeting-status .meeting-status-text{
    font-size: 14px;
	cursor: pointer;
}

.meeting-room-box .meeting-details td.accepted-text .meeting-status-text{
	color: #30c911;
}

.meeting-room-box .meeting-details td.tentative-text .meeting-status-text{
	color: #f5a623;
}

.meeting-room-box .meeting-details td.declined-text .meeting-status-text{
	color: #747474;
}

.meeting-room-box .meeting-details td.meeting-status .form-group{
	display: none;
}

.meeting-room-box .form-group{
	margin-bottom: 0px;
}

.meeting-room-box .form-group select {
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
    border-bottom: #ebebeb solid 0px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
}


.meeting-room-box .form-group label {position:relative; width:100%;    margin-bottom: 0px;}
.meeting-room-box .form-group label:after {
  	content: url('../images/icons/arrow-1.png');
    right: 0px; 
	top: 0px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

.mailbox-box{
    /*min-height: 200px;*/	
}

.mailbox-box .table{
	margin-bottom: 0px;
	border: 0px;
}

.mailbox-box .table tr{
	background: #f8f8f8;
	border-left: 3px solid #f8f8f8;
	color: #2b2b2b;
	font-size: 14px;
	font-weight: 400;
}

.mailbox-box .table tr td a{
    color: #2b2b2b;
    display: block;
    float: left;
    width: 100%;
    padding: 18px 25px;
    text-transform:capitalize;
}

.mailbox-box .table tr td a:hover{
    color: #646464;
}

.mailbox-box .table tr span{
    font-size: 12px;
    color: #939393;
    padding-right: 12px;
    display: block;	
}

.mailbox-box .table tr.unread{
	background: #ffffff;
	/*border-left: 5px solid #049ce2;*/
}

.mailbox-box .table tr.unread td:nth-child(2) {
    background: url(../images/dashboard/unread-mail.png);
    background-repeat: no-repeat;
    background-position: 9px 35px;
}

.mailbox-box .table tr.blockedUser td:nth-child(2) {
    background: url(../images/dashboard/blocked-user.png);
    background-repeat: no-repeat;
    background-position: 4px 30px;
    background-size: 14px;
}

.mailbox-box .table td{
	vertical-align: middle;
	padding: 0px;
    border: 0px;
    border-bottom: 1px solid #ddd;	
}

.mailbox-box .table td:nth-child(2) {
    /*padding: 8px 8px 8px 25px;*/
}

.dashboard-box-title .dashboard-box-count{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background: #535960;
    padding: 5px 8px;
    border-radius: 3px;
    vertical-align: middle;
}

.dashboard-box a:hover{
	text-decoration: none;
}

.notifications-box ul {
	padding: 0px;
    margin-bottom: 0px;	
}

.notifications-box li.system-genrated {
	background: url(../images/dashboard/system-genrated.png) no-repeat top 25px left 20px;
}

.notifications-box li.self-genrated {
	background: url(../images/dashboard/self-genrated.png) no-repeat top 25px left 20px;
}

.notifications-box li.user-genrated {
	background: url(../images/dashboard/user-genrated.png) no-repeat top 25px left 20px;
}

.notifications-box li {
    background: url(../images/dashboard/gray-dot.png) no-repeat top 25px left 20px;
    color: #535960;
    font-size: 14px;
    vertical-align: middle;
	line-height: 1.5;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 40px;
    position: relative;	
	list-style-type: none;
}

.notifications-box li b{
    font-weight: 500;
}

.notifications-box li:last-child{
	border-bottom: 0px;
}

.notifications-box li .signClose {
    top: 20px;
}

.mentors-box .table{
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #000000;	
}

.mentors-box .table tr{
    
}

.mentors-box .table td{
	padding: 20px;
	vertical-align: middle;
}

.mentors-box .table td:nth-child(2){
    padding: 20px 0px;	
	vertical-align: top;	
}

.mentors-box .table td:nth-child(3){
	width: 30px;
}

.mentors-box .table td span{
	font-size: 12px;
	font-weight: 300;
	color: #939393;	
}

.reviews-box{
	font-family: 'Roboto', sans-serif;	
	padding: 20px;
}

.reviews-box p{
	font-size: 14px;
	font-weight: 300;
	color: #535960;
    font-style: italic;			
}

.reviews-box .media {
    margin-top: 20px;
}

.reviews-box .media .media-heading{
	font-size: 12px;
	font-weight: 400;
	color: #2b2b2b;
	font-style: normal;	
}

.reviews-box .media p{
	color: #939393;	
	font-size: 12px;
	font-weight: 400;
	font-style: normal;	
}

.reviews-box .media .media-left img {
    border: 0px;
    margin: 0px;
}

.pinboard-box{
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #000000;	
}

.pinboard-box .table{
	margin: 0px;
}

.pinboard-box .table td{
	padding: 20px;
	vertical-align: middle;
}

.pinboard-box .table td:nth-child(2){
    padding: 20px 0px;	
	vertical-align: top;	
}

.pinboard-box .table td:nth-child(3){
	width: 100px;
	vertical-align: top;
}

.pinboard-box .table td .pin{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    background: #ebebeb;
    padding: 4px 6px;
    border-radius: 30px;
    text-align: center;
}

.table > tbody > tr:first-child td{
    border-top: 0px;	
}

.setting-btn{
    background: url(../images/dashboard/setting-icon.png) no-repeat #fff top 6px left 4px !important;
    padding: 17px !important;
}

.setting-btn:hover, .setting-btn:focus{
    background: url(../images/dashboard/setting-icon-hover.png) no-repeat #fff top 6px left 4px !important;
}


.new-meeting-btn{
	background: url(../images/dashboard/new-meeting-icon.png) no-repeat #fff top 6px left 10px !important;
    padding: 8px 10px 8px 40px !important;	
}

.new-meeting-btn:hover, .new-meeting-btn:focus{
    background: url(../images/dashboard/new-meeting-icon-hover.png) no-repeat #fff top 6px left 10px !important;
}


.composemail-btn{
    background: url(../images/dashboard/composemail-icon.png) no-repeat #fff top 6px left 8px !important;
	padding: 8px 10px 8px 38px !important;	
}

.composemail-btn:hover, .composemail-btn:focus{
    background: url(../images/dashboard/composemail-icon-hover.png) no-repeat #fff top 6px left 8px !important;
}





/*** custom checkboxes ***/

.mailbox-box input[type=checkbox]:not(old) + label {
    margin-left: 0px;
    cursor: pointer;
    margin-right: -12px;		
}

.mailbox-box input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.mailbox-box input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0em;
}

.mailbox-box input[type=checkbox] + label:before { 
	content: "\f006";
    color: #c3c3c3;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 5px;	
} /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.mailbox-box input[type=checkbox]:checked + label:before { 
	content: "\f005";
    color: #ef4135;
    font-size: 18px;
    font-weight: 100;
} /* checked icon */
.mailbox-box input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */



/* mailbox css */

.mailbox-left{
	padding-right: 0px;
}

.mailbox-right{
	padding-left: 0px;
    border-left: 5px solid #CFEDFB;	
}

.mail-box{
    /*border: 1px solid #ebebeb;
    padding: 20px 30px;
    border-left: 5px solid #e7f6fd;
    min-height: 752px;*/	
}

.mail-box .mail-topic{
	font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
    position: relative;	
}

.mail-box .mail-topic h5{
	font-weight: 300;
	font-size: 18px;
	color: #939393;
	margin-top: 0px;
}

.mail-box .mail-topic h2{
	font-weight: 400;
	font-size: 24px;
	color: #535960;
    margin-top: 0px;	
}

.mail-print-save{
    position: absolute;
    top: 0px;
    right: 0px;	
}

.mail-print-save img{
	margin-left: 12px;
}

.mailbox-left .mailbox-box .table tr.selected-mail{
	background: #CFEDFB;
    border-left: 3px solid #CFEDFB;	
	border-right: 2px solid #CFEDFB;	
}

.mailbox-left .mailbox-box .table tr.unread {
    background: #ffffff;
    /*border-left: 5px solid #049ce2;*/
}

.mailbox-left .mailbox-box .table tr.unread.selected-mail {
	background: #CFEDFB;
    border-left: 3px solid #CFEDFB;
    border-right: 2px solid #CFEDFB;
}

.mailbox-left .mailbox-box .table tr.unread.selected-mail:hover {
    border-left: 3px solid #049ce2;
}

.mailbox-left .dashboard-box {
    border-right: 0px;
}

.mailbox-left .mailbox-box .table tr{
	border-right: 2px solid #ebebeb;
}

.mailbox-left .mailbox-box .table tr:hover{
	border-left: 3px solid #049ce2;
}

.mailbox-box .table tr td:first-child{
	display: none;
}

.mailbox-box .table tr td:nth-child(2){
	padding-right: 0px;	
}

.inboxUserImg{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
}


.loading-mail{
    border: 1px solid #EBEBEB;
    border-right: 2px solid #EBEBEB;
    border-bottom: 0px;
    padding: 10px;
    text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #bbbbbb;
}

.view-all a{
    border-top: 1px solid #EBEBEB;
    padding: 6px 0px;
    text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #bbbbbb;
    display: block;		
}

.view-all a:hover{
	color: #049ce2;
}

.mail-conversation{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.mail-conversation .media{
    padding: 35px 0px 0px 0px;
    margin-top: 0px;	
}

.mail-conversation .media .media-left img.media-object{
    width: 42px;
}

.mail-conversation .media-heading{
	color: #535960;
	font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;	
}

.mail-conversation .media-heading span{
	font-weight: 300;
	color: #939393;
	font-size: 12px;
}

.mail-conversation .media p{
	font-weight: 300;
	color: #6e6e6e;
	font-size: 14px;
	margin-bottom: 0px;
}

.mail-conversation .media p a{
	color: #049ce2;
}

.mail-replay{
	/*border-top: 2px solid #ebebeb;
	padding-top: 20px;*/
    /*margin-top: -1px;*/
    padding: 15px 15px 0px 15px;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;	
}

.mail-replay .form-control {
    /*border: 1px solid #ebebeb;*/
    border-radius: 1px;
    /*border-bottom: 0px;*/	
    border: 1px solid #fff;
    resize: none;
    padding: 4px;
    box-shadow: none;		
}

.mail-replay .form-control:focus{
    border: 1px solid #ccc;
}

.mail-conversation .media .media-body{
	/*border-bottom: 1px solid #ebebeb;
    padding: 0px 0px 35px 0px;*/
}

.mail-conversation .media:last-child .media-body{
	border-bottom: 0px;
}

.mail-reciver{
color: #ef4135 !important;
}

.mail-search{
    background: url(../images/dashboard/search-gray.png) no-repeat left 6px top 8px;
    border-radius: 1px;
    width: 100% !important;
    display: inline-block;
    height: 42px;	
    border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
    padding-left: 40px;	
}

.mail-search:focus{
    box-shadow: none;
    border-color: #DDDDDD;
    border-bottom-color: #0072C6;
}

.three-dot{
    /*border: 1px solid #ccc;*/
    border-radius: 1px;
    padding: 0px 20px;
    vertical-align: top;
    background: url(../images/dashboard/three-dot.png) no-repeat left 18px top 12px;
    height: 42px;
    background-size: 4px;
}

.three-dot:hover, .three-dot:focus{
	/*border: 1px solid #ddd;
	background: url(../images/dashboard/three-dot-hover.png) no-repeat #fff left 18px top 12px;
	background-size: 4px;*/
    background: url(../images/dashboard/three-dot-hover.png) no-repeat left 18px top 12px;
    background-size: 4px;
    box-shadow: none;	
}

.mymailbox-composemail-btn{
    background: url(../images/dashboard/composemail-icon-white.png) no-repeat #049ce2 top 8px left 14px;
    padding: 10px 30px 10px 47px;
    border: 1px solid #049CE2;
    border-radius: 1px;
    vertical-align: top;
    color: #fff;
}

.mymailbox-composemail-btn:hover, .mymailbox-composemail-btn:focus{
	background: url(../images/dashboard/composemail-icon-hover.png) no-repeat #fff top 8px left 14px;
    color: #049ce2;		
}

.mail-select.form-group{
    display: inline-block;
    position: relative;
    vertical-align: top;	
}

.mail-select.form-group select {
    font-family: 'Roboto', sans-serif;
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: 1px solid #ddd;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    border-radius: 1px;
    padding: 9px 35px 9px 9px;
}

.mail-select.form-group label:after {
    content: url('../images/icons/arrow-2.png');
    right: 13px;
    top: 9px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.noofmail{
    border: 1px solid #cccccc;
    padding: 10px 15px;
    width: auto;
    display: inline-block;
    border-radius: 1px;
    color: #747474;	
}

.noofmail span{
	padding: 0px 10px;
}

.noofmail img{
    width: 9px;
    margin-top: -2px;	
}

.composeMailBtn.disabled{
    pointer-events: none;
}

.composeMailBtn.disabled img{	
    opacity: .2;
}

/* my meeting room css */

.tabTable .table-bordered>tbody>tr>th.disable-day{
	color: #cccccc;
}

.meeting-room-week-table .table{
	border: 0px;
    width: 99.9%;	
}

.meeting-room-week-table tr td:first-child{
    border-left-color: #fff;
    width: 6% !important;
    padding: 0px;
}

/*.meeting-room-week-table tr td:nth-child(2){
	background: #e7f6fd;
}*/

.meeting-room-week-table tr td:nth-child(7), .meeting-room-week-table tr td:nth-child(8){
    width: 6% !important;	
}

.meeting-room-week-table .table-time{
    position: absolute;	
    top: -10px;
    background: #fff;
    color: #64686d;
    font-size: 14px;
    font-weight: 400;	
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    width: 55px;
    height: 55px;		
	text-align: left;
}

.meeting-room-week-table .all-day{
    width: 100%;
    padding: 10px 35px 0px 0px;
    height: auto;	
}

.meeting-room-week-table tr #table-first-col{
	border-top-color: #fff;
	border-left-color: #fff;
}

.tabTable .meeting-room-week-table .table-bordered>tbody>tr>td {
    height: 1.5em;
    padding: 0px;	
}

.meeting-room-week-table .notification-box{
    position: absolute;
    width: 100%;	
    font-family: 'Roboto', sans-serif;
    color: #535960;
    font-size: 12px;
    font-weight: 400;
	height: 100%;
    /*padding: 10px 10px;*/
	padding: 15px 10px 0px 10px;
	text-align: left;
    word-wrap: break-word;	
}

.meeting-room-week-table .green-box{
    background: #eff9ee;
	border: 1px solid #30c911;
	border-left: 5px solid #30c911;
}

.meeting-room-week-table .orange-box{
    background: #fff4e3;
	border: 1px solid #f5a623;
	border-left: 5px solid #f5a623;
}

.meeting-room-week-table .red-box{
    background: #ffffff;
	border: 1px solid #ef4135;
	border-left: 5px solid #ef4135;
}

.meeting-room-week-table .notification-box img{
    width: 24px;
    margin-right: 5px;		
}

.meeting-notation{
    font-family: 'Roboto', sans-serif;
    color: #535960;
    font-size: 12px;
    font-weight: 300;
	text-align: right;	
}

.meeting-notation span{
    margin-right: 15px;	
    vertical-align: middle;	
}

.meeting-notation span:last-child{
	margin-right: 0px;
}

.meeting-notation span img{
	margin-right: 5px;
    vertical-align: middle;		
}

.red-line{
    width: 100%;
    height: 1px;
    background: #F00;
    position: absolute;
    top: .7em;
    z-index: 9;
    min-width: 1092px;
    left: -26px;
}

.red-line:before{
    content: url(../images/dashboard/red-dot.png);
    left: -6px;
    position: absolute;
    top: -15px;
}

.weekBox{ font-family: 'Roboto', sans-serif;border:#e5e5e5 solid 1px; color:#000; width:auto; text-align:center;}
.weekBox span {  padding: 7px 14px;    display: inline-block;}
.weekBox a{color:#000;    padding: 7px 14px;    display: inline-block;}
.weekBox a img{
    margin-top: -2px;
    padding: 0px 3px;
}

.weekBox a:first-child{
	border-right:#e5e5e5 solid 1px;
}

.weekBox a:last-child{
	border-left:#e5e5e5 solid 1px;
}

.mailbox-left-select{
	border: 1px solid #ddd;
    padding: 10px 10px 6px 10px;
    border-bottom: 0px;
}

.mailbox-left-select .form-group {
    margin-bottom: 0px;
}

.mailbox-right-title{
	border: 1px solid #ddd;
    padding: 24px 12px;
    border-left: 0;
    background: #F8F8F8;		
}

.mailbox-right-title h5{
	margin: 0px;
	font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-transform:capitalize;
}

.mailbox-right-title h5 .three-dot{
    /*margin-top: -13px;*/
}

.mailbox-right-title h5 .mail-options{
    margin-top: -13px;
    border: 1px solid #F8F8F8;	
}

.mailbox-right-title h5 .mail-options.open{
    min-width: 125px;
    background: #fff;
    border: 1px solid #ddd;    
}

.mail-accordion-group{
    padding: 15px;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-right: 1px solid #ddd;
    height: 370px;
    overflow-y: scroll;	
}

.mail-accordion-group .panel-title{
	position: relative;
}

.dropdown-date-panel{
    position: absolute;
    right: 0px;
    top: 0px;
}

.mail-accordion-group .panel-heading {
    padding: 0px;
    background-color: #FFFFFF;	
}

.mail-accordion-group .panel-title > a {
    /*padding: 15px 0px;*/
	padding: 15px 0px 15px 20px;
	display: block;
    font-weight: 400;
	
    background: url(../images/dashboard/mail-title.png);
    background-repeat: no-repeat;
    background-position: 1px 22px;	
}

.mail-accordion-group .panel-title > a.active{
    color: #049ce2;
}

.mail-accordion-group .panel-title > a.unread {
    background: url(../images/dashboard/unread-mail.png);
    background-repeat: no-repeat;
    background-position: 1px 22px;
}

.mail-accordion-group .panel-title > a:hover, .mail-accordion-group .panel-title > a:focus {
	text-decoration: none;	
}

.mail-accordion-group .panel-title .glyphicon {
    padding-left: 0px;
    font-size: 35px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    line-height: 14px;
    /*padding-top: 15px;*/	
}

.mail-accordion-group .panel-title .glyphicon.glyphicon-minus{
	color: #049ce2;
}

.mail-accordion-group .panel-title .glyphicon.glyphicon-plus{
    padding-left: 10px;
}

.mail-accordion-group .panel-title .dropdown mail-options{
    padding-top: 1px;
}

.mail-accordion-group.panel-group .panel {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
    box-shadow: none;	
}

.mail-accordion-group.panel-group .panel:last-child {
    border-bottom: 0px;
}

.mail-topic-date {
    font-size: 12px;
    color: #939393;
    padding-top: 17px;	
}

.mail-accordion-group.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px solid #ddd;
    padding-top: 0px;	
}


.mail-options .dropdown-menu {
    margin-top: -1px;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    /* border-top: 0; */
    margin-right: -1px;
    top: 0;
    padding: 15px 0;
	z-index: 9;
}

.mail-options .dropdown-menu li a{
    cursor: pointer;
}

.mail-options .dropdown-menu .divider {
    height: 1px;
    margin: 9px 20px;
}

.mail-options .dropdown-menu > li > a:hover, .mail-options .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #049ce2;
}

.dashboard-menu{
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 0px;
	padding-top: 62px;
	background: #F8F8F8;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 99;		
}

.composeMailBtn {
    margin-top: -10px;
    position: absolute;
    right: 65px;
	cursor: pointer;
}

/* block user css start*/
.alert-unblock {
    color: #333333;
    background-color: #FFEBEE;
    border: 2px solid #FFCDD2;
    border-radius: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    margin-bottom: 0;
	display: none
}

.blockUserMail .alert-unblock {
	display: block;	
}

.blockUserMail .mail-replay .form-control{
    pointer-events: none;
    opacity: 0;
    height: 29px;
    overflow: hidden;
}

.blockUserMail .new-mail-form .sendmail-btn, .blockUserMail .new-mail-form .checkbox label{
    pointer-events: none;
    opacity: .3;	
}

.blockUserMail .composeMailBtn, .blockUserMail .mailbox-right-title .mail-options {
    pointer-events: none;
    opacity: 0.4;	
}

.blockUserMail.hideBlockUserMessage .alert-unblock {
    display:none;
}


.blockUserFormPopup {
    font-family: 'Roboto';
}

.blockUserFormPopup h2 {
	font-weight: 400;
    font-size: 18px;
    color: #2B2B2B;
    line-height: 20px;
}

.blockUserFormPopup p {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-size: 14px;
    color: #6E6E6E;
    line-height: normal;
}

.blockUserFormPopup h6 {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-size: 12px;
    color: #2B2B2B;
    line-height: 36px;
}

.blockUserFormPopup .BlockReasonDropdown {
    width: 300px;
    margin: 0px auto 35px auto;
}

.blockUserFormPopup .dropdown .btn{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #0072C6;
    text-align: left;
    width: 300px;
    background: #fff;
    border-radius: 0;
    padding: 10px 15px;
    border: 1px solid #D0D0D0;
}

.blockUserFormPopup .dropdown.open .btn{
	border: 1px solid #D0D0D0;
}

.blockUserFormPopup .dropdown.open > .dropdown-menu {
    display: block;
    width: 300px;
    box-shadow: none;
    border: 1px solid #D0D0D0;
    border-radius: 0;
    border-top: 0;
    margin-top: -1px;
}

.blockUserFormPopup .dropdown-menu > li > a {
    font-size: 12px;
    color: #2B2B2B;
}

.blockUserFormPopup .dropdown-menu > li > a:hover, .blockUserFormPopup .dropdown-menu > li > a:focus {
    background-color: #ffffff;
    color: #0072C6;
}

.blockUserFormPopup .dropdown .btn .caret{
    border: 0 none;
    color: #333;
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 4px;
    margin: 0;
    padding: 0;
}

.blockUserPopupClose{
    position: absolute;
    right: 15px;
    top: 15px;
	cursor: pointer;
    z-index: 9;	
}

.otherReasonInput{
    margin-top: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: none;
    border-radius: 0;
	display: none;
}

.otherReasonInput:focus {
    border-color: #0072C6;
	box-shadow: none;
}

.blockUserFormPopup .update-btn.disabled{
    pointer-events: none;
    opacity: 0.4;
}

/* block user css end*/

.new-mail-title{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ddd;
    padding: 23px 12px;
    border-left: 0;
    background: #ffffff;
    border-bottom: 0px;
}

.new-mail-title h5{
    margin: 0px;
    color: #6E6E6E;
    font-size: 18px;
    font-weight: 400;	
}

.new-mail-form{
    font-family: 'Roboto', sans-serif;
	font-weight: 400;	
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    min-height: 506px;
    padding: 15px 15px !important;	
}

.new-mail-form .form-control {
	border: 0px;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
    padding: 8px 0px;
	height: 40px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.new-mail-form .form-control.msgTextarea {
    height: 100px;	
}

.new-mail-form .form-control:focus {
    border-color: #0E71C3;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}

.new-mail-form .checkbox{
    display: inline-block;
}

.new-mail-form .discard-draft{
    font-size: 12px;
    color: #939393;
    padding-top: 15px;	
}

.new-mail-form .sendmail-btn{
	border: 1px solid #0072C6;
    border-radius: 0;
    background: #0072C6;
    color: #fff;	
	display: none;
}

.new-mail-form .sendmail-btn:hover, .sendmail-btn:focus{
    border: 1px solid #286090;
    border-radius: 0;
    background: #286090;
    color: #ffffff;
}

.new-mail-form .checkbox label{
	padding-left: 0px;
    font-size: 12px;
	color: #6E6E6E;
}


.mail-accordion-group .panel .mail-options{
	display: none;
    border: 1px solid #FFFFFF;	
}

.mail-accordion-group .panel .mail-options .three-dot {
    padding: 0px 14px;
}

.mail-accordion-group .panel .mail-options.open{
    min-width: 160px;
    background: #fff;
    border: 1px solid #ddd;
}

.mail-options a{
	cursor: pointer;
}


/* my-profile css start */

.dashboard-left-menu{
	text-align: right;
    padding-right: 30px;	
}

.dashboard-left-menu li{
    padding: 5px 0px 5px 0px;
}

.dashboard-left-menu li a{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #2B2B2B;
    display: block;
    padding: 0px 15px 0px 0px;
    border-right: 3px solid #ffffff;
}

.dashboard-left-menu li a:hover{
    border-right: 3px solid #2B2B2B;
	text-decoration: none;
}

.dashboard-left-menu li.active a{
	color: #0072C6;
	border-right: 3px solid #0072C6;	
}

.dashboard-left-menu .help-list li{
    margin-bottom: 0px;
    padding: 3px 0px 3px 0px;	
}

.dashboard-left-menu .help-list li a{
    font-size: 12px;
}

.dashboard-left-menu .help-list li a:hover {
    border-right: 3px solid #FFFFFF;
}
	
.myprofile-container .title{
    font-family: 'Roboto Slab Light', 'Roboto Slab';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #6E6E6E;
	margin-top: 0px;
    margin-bottom: 20px;	
}

.myprofile-container .profile-pic{
	border: 2px solid #ECECEC;
}

.myprofile-container .form-horizontal .control-label {
    text-align: left;
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #6E6E6E;
}

.myprofile-container .form-horizontal label{
    display: inline-block;
}

.myprofile-container .form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 20px;	
}

.myprofile-container .form-horizontal .form-control{
    border: 0;
    border-bottom: 2px solid #ECECEC;
    box-shadow: none;
    border-radius: 0;
    padding: 6px 0px;
	font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #2B2B2B;

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.myprofile-container .form-horizontal .form-control-select label{
	display: block;
}

.myprofile-container .form-horizontal .form-control-select label:after {
    content: url('../images/icons/arrow-2.png');
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #bababa;
    right: 4px;
    top: 6px;
	padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
	opacity: 0;
}

.myprofile-container .form-horizontal .form-control-select label.activeSelect:after {
	opacity: 1;
}

.myprofile-container .form-horizontal .form-control:focus {
    color: #2b2b2b !important;
    border-bottom: #0072C6 solid 2px;
}

.myprofile-container .form-horizontal .form-control.form-control-xl{
	font-size: 24px;
}

.myprofile-container .form-horizontal .form-group .form-control-label{
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    color: #6E6E6E;
    display: block;
    margin-top: 4px;	
}

.myprofile-container .form-horizontal .form-group .form-control-label a{
    color: #0072C6;
}

.myprofile-container .form-horizontal .form-group .form-control-label a:hover{
	cursor: pointer;
	text-decoration: none;
}

.form-control-email{
    background: url(../images/dashboard/email-lock.png);
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 6px 0px 6px 27px !important;
    background-position: 0px 4px;
}

.verified{
    background: #3AC729;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF;
    text-align: right;
    padding: 5px 18px 5px 8px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 2px;
}

.verified img{
    margin-top: -3px;
    margin-right: 5px;
}

.update-btn{
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 6px 20px;
    background: #0072C6;
    border: 1px solid #0072C6;
}

.update-btn:hover, .update-btn:focus{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
	text-decoration: none;
}

.cancel-btn{
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #2B2B2B;
    padding: 6px 20px;
    background-color: #fff;
    border-color: #fff;
}

.cancel-btn:hover {
    color: #2B2B2B;
    background-color: #fff;
    border-color: #adadad;
}

.cancel-btn1{
	background-color: #fff;
    border-color: #fff;
	color: #2B2B2B;
}

.cancel-btn1:hover {
    color: #2B2B2B;
    background-color: #fff;
    border-color: #adadad;
}

.dashboard-popup .modal-title{
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: #6E6E6E;
    text-align: center;
    margin-bottom: 10px;
}

.dashboard-popup p{
	font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #6E6E6E;
    text-align: center;
}

.dashboard-popup p.small{
    font-size: 12px;
}

.dashboard-popup p.small b{
    font-weight: 500;
}

.dashboard-popup .modal-body{
    padding: 40px;
}


.form-control-cancellation-policy-type{
    background: url(../images/dashboard/cancellation-policy-type-strict.png);
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 6px 0px 6px 34px !important;
    background-position: 0px 4px;
}

.checkbox-container .checkbox{
	display: inline-block;
    padding-top: 4px;	
}

.checkbox-container .checkbox input[type=radio ]:not(old) + label > span {
    margin: 0.25em 0.8em 1.25em -0.5em;
}

.checkbox-container .checkbox input[type=checkbox]:not(old) + label, .checkbox-container .checkbox input[type=radio ]:not(old) + label {
    line-height: 2em;
}

.checkbox-container .checkbox label, .checkbox-container .checkbox label {
    padding-left: 24px;
    margin-right: 24px;
}


.checkbox-container .checkbox input[type=radio]:not(old):checked + label > span > span:before {
    top: -3px;
}

.checkbox-container input[type=radio]:not(old):checked + label > span > span {
    background: #0B5DB9;
}






.edit-layer-container{
	position: relative;
}

.edit-layer, .edit-layer-forRadioBtn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
}

.edit-layer:hover, .edit-layer-forRadioBtn:hover{
	background: url(../images/dashboard/edit-input.png) no-repeat top 8px right 2px;
}

.myprofile-container .form-horizontal .form-control[disabled], .myprofile-container .form-horizontal .form-control[readonly], .myprofile-container .form-horizontal fieldset[disabled] .form-control {
    background-color: #fff;
    border-bottom: 2px solid #ECECEC;
    cursor: not-allowed;		
}

.update-cancel-btn-group{
	position: fixed;
}

.update-cancel-btn-group .btn{
	display: none;
}

.uploadProfilePhotoContainer {
	position: relative;
	display: inline-block;
}

.uploadProfilePhotoContainer .uploadProfilePhotoEditIcon {
    position: absolute;
    left: 2px;
    bottom: 2px;
    background: rgba(43, 43, 43, 0.75);
    z-index: 9;
    padding: 8px 10px;
    color: #fff;
    width: 98%;
    font-size: 14px;
    font-family: 'Roboto', serif;
    font-weight: 400;	
	display: none;		
}

.uploadProfilePhotoContainer .uploadProfilePhotoEditIcon img {
    margin-right: 10px;
}

.uploadProfilePhotoContainer a:hover .uploadProfilePhotoEditIcon {
	display: block;
}

/* my-profile css end */


.sort-email .btn{
    font-size: 14px;
    border-radius: 1px;
    color: #747474;
    font-family: 'Roboto', sans-serif;
    border: #e5e5e5 solid 1px;
    padding: 4px 12px;
    font-weight: 400;
    background: #fff;	
}

.sort-email .btn:hover, .sort-email .btn:focus{
	background: #fff !important;
	box-shadow: none;
}

.sortList-email{
    left: 0;
    min-width: 100%;
	box-shadow: none;		
}
	
.sortList-email > li {
    border-bottom: 0px;
}

.sortList-email > li > a {
    font-size: 13px;
    font-weight: 400;
    color: #747474;
    font-family: 'Roboto', sans-serif;
    padding: 4px 10px;
	cursor: pointer;
}

.sortList-email li a .glyphicon {
	font-size: 10px;
    top: 0;
	color: #747474;
    padding-right: 3px;	
}

.sortList-email li a:hover, .sortList-email li a:hover .glyphicon, .sortList-email li a:focus{
	color: #0E71C3;
	background: #fff;
}

.sort-email .btn-default.active.focus, .sort-email .btn-default.active:focus, .sort-email .btn-default.active:hover, .sort-email .btn-default.focus:active, .sort-email .btn-default:active:focus, .sort-email .btn-default:active:hover, .sort-email.open > .dropdown-toggle.btn-default.focus, .sort-email.open > .dropdown-toggle.btn-default:focus, .sort-email.open > .dropdown-toggle.btn-default:hover {
    background: #FFFFFF;
    border: #e5e5e5 solid 1px;
    color: #000000;
    border-bottom: 0px;
}

.sort-email .btn-default:active, .sort-email .btn-default.active, .sort-email.open > .dropdown-toggle.btn-default {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
	border-bottom: 0px;
}

.open > .sortList-email {
    border-top: 0;
}

.facebookProfile{
    background: url(../images/dashboard/facebookProfile.png);
}

.googleProfile{
    background: url(../images/dashboard/googleplusProfile.png);
}

.linkedInProfile{
    background: url(../images/dashboard/linkedinProfile.png);
}

.websiteProfile{
    background: url(../images/dashboard/websiteProfile.png);
}

.facebookProfile, .googleProfile, .linkedInProfile, .websiteProfile{
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 6px 0px 6px 40px !important;
    background-position: 0px 1px;
}


/* mentor-profile css */

.myprofile-container #skillsTags span.tag {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;    
	border: #CCCCCC solid 1px;
    background: #F8F8F8;
    border-radius: 2px;
    margin-bottom: 5px;
	margin-top: 0px;
}

.myprofile-container .form-horizontal .form-control.skillsTagsInput{
    border: #CCCCCC solid 1px;
    background: #fff;
    border-radius: 2px;
    padding: 6px 10px;
    width: 125px;
    height: 30px;	
}

.uploadKeynoteVideo{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #2B2B2B;
    vertical-align: top;
    line-height: 26px;
    margin-left: 20px;
}

.uploadKeynoteVideo img{
    vertical-align: top;
    margin-right: 5px;
}

.update-btn .glyphicon-plus{
    font-family: 'Roboto Light', 'Roboto';
    font-size: 17px;
    margin-right: 6px;
}

.myprofile-container .table {
    font-family: 'Roboto Slab';
    border: 1px solid #EBEBEB;
    font-style: normal;
    font-size: 14px;	
}

.myprofile-container .table tr th{
    font-weight: 300;
    color: #6E6E6E;
	background: #F8F8F8;
    padding: 10px;
    border: 0;	
    border-bottom: 1px solid #EBEBEB;		
}

.myprofile-container .table tr th a{
	color: #6E6E6E;	
}

.myprofile-container .table tr td{
    font-weight: 300;
    color: #2B2B2B;
    padding: 10px;	
    border: 0;
    border-bottom: 1px solid #EBEBEB;	
}

.myprofile-container .inputTop2 {
    margin-top: 8px !important;
}

.myprofile-container .control-label{
    font-family: 'Roboto';	
	font-size: 15px;
    font-weight: 300;
}

.note{
	font-family: 'Roboto Light', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #939393;
}

.myprofile-container .uploadKeynoteVideo1{
	right: 30px;
}

.myprofile-container .uploadKeynoteVideo1{
	cursor: pointer;
	text-decoration: none;	
}

.myprofile-container .uploadKeynoteVideoShow {
    margin-bottom: 20px;
}

.employmentDurationValidationMsg{
	color: red;
    margin-top: 5px;
    display: none;
}


/* Employment-History css */

.myprofile-container .employment-history-list {
    padding: 30px;
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    position: relative;
    margin-bottom: 20px;
}

.myprofile-container .employment-history-list:hover {
    border-bottom: #0072C6 solid 2px;	
}

.myprofile-container .employment-history-list h2 {
    margin-top: 0px;
}

.myprofile-container .employment-history-list .deleteEmploymentHistory {
    position: absolute;
	right: 30px;
    top: 30px;
	display: none;
}

.myprofile-container .employment-history-list .beaMentorEdit {
    right: 55px;
    top: 25px;
}

.myprofile-container .employment-history-list a:hover, .myprofile-container .employment-history-list a:focus{
	text-decoration: none;
	cursor: pointer;
}

.employment-history-list:hover .deleteEmploymentHistory{
	display: block;
}

.myprofile-container .modal .form-control{
    font-family: 'Roboto';
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 100;
    border: none;
    border-bottom: #ebebeb solid 2px;
    box-shadow: none;
    padding: 4px 0px;
    height: inherit;
    border-radius: 0;
}

.myprofile-container .modal .form-control1 {
    border: #ebebeb solid 2px;
    border-radius: 3px;
    padding: 20px;
}

.myprofile-container .modal .form-control:focus {
    color: #2b2b2b !important;
    border-bottom: #049ce2 solid 2px;
}

.myprofile-container .modal .form-control1:focus {
    color: #2b2b2b !important;
    border: #049ce2 solid 2px;
}

.myprofile-container .modal .form-group {
    float: left;
    width: 100%;
    margin-bottom: 25px;	
}

.myprofile-container .modal .modal-header {
    /*padding: 20px 25px;*/
	padding: 20px 25px 0px 25px;
    border-bottom: 0px;	
}

.myprofile-container .modal .modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #1973c0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}


/* my-profile-work css */

.my-profile-work {
    border: #e5e5e5 solid 1px;
    cursor: pointer;
    float: left;
    width: 100%;
    /*min-height: 350px;*/
    min-height: 290px;	
    position: relative;
    overflow-y: hidden;
    margin-bottom: 20px;	
}

.my-profile-work span {
    font-weight: 300;
    font-size: 12px;
    color: #2b2b2b;
    position: absolute;
    bottom: 0;
    border-top: #e5e5e5 solid 1px;
    width: 100%;
    padding: 15px 20px;
    background: #f9f9f9;
    word-wrap: break-word;
}

.my-profile-work span h4 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    /*font-size: 18px;*/
    font-size: 16px;	
    color: #2B2B2B;
    margin-top: 0;
    margin-bottom: 20px;
}

.my-profile-work span h5 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #2B2B2B;
    text-align: left;
    margin-bottom: 0;
}

.my-profile-work .my-profile-work-img {
    /*position: absolute;
    width: 100%;*/
    text-align: center;
    /*padding: 80px 0px;*/
    padding: 50px 0px;		
}






.myprofile-workSection-container .multiTagValues .projectURLTag {
    padding: 6px 8px;
    margin: 0px 0px -1px 0px;
}

.myprofile-workSection-container .control-label {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #6E6E6E;
    padding-left: 0;
    margin-bottom: 15px;
}

.myprofile-workSection-container .multiTagValues .projectURLTag a .fa {
    top: 0;
    position: relative;
    right: 0px;
    font-size: 12px;
    margin-left: 10px;
}

.myprofile-workSection-container .workSectionPopup .form-group {
	margin-bottom: -1px;
}

.myprofile-workSection-container .workSectionPopup .character {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.myprofile-workSection-container .work-video-icon {
    position: absolute;
    top: 40%;
    left: 42%;
}

.myprofile-workSection-container .embedMedia {
    padding: 87px 10px;
    min-height: 200px;
}

.myprofile-workSection-container .uploaded-embedMedia {
    min-height: 200px;
}

.myprofile-workSection-container .work-form-group-container {
    border-bottom: #e5e5e5 solid 1px;
    padding-bottom: 30px;
    margin-bottom: 20px;	
}

.myprofile-workSection-container .uploaded-embedMedia .checkbox {
    position: absolute;
    bottom: auto;
    top: 0;
    right: 0;
    width: 30px;
    padding: 0;
    border: 0;
    background: none;
    overflow: hidden;
    margin: 0;
}

.myprofile-workSection-container .uploaded-embedMedia .checkbox input[type=checkbox]:not(old) + label > span {
    background: #c3c3c3;
}

.myprofile-workSection-container .uploaded-embedMedia .checkbox input[type=checkbox]:not(old) + label > span:before {
    content: url('../images/icons/tick.png');
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    top: -2px;
}

.myprofile-workSection-container .uploaded-embedMedia input[type=checkbox]:not(old):checked + label > span{
	background: rgb(4,156,226);
}

.myprofile-workSection-container .uploaded-embedMedia input[type=checkbox]:not(old):checked + label > span:before{
    top: -9px;
	
}


.myprofile-workSection-container .mail-options .dropdown-menu {
    min-width: 140px;
}

.myprofile-workSection-container .mail-options .dropdown-menu li a {
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.myprofile-workSection-container .deleteDownloadWork {
    position: absolute;
    right: 0;
    top: 0;
}

.myprofile-workSection-container .deleteDownloadWork img {
    float: right;
    margin-top: 0;
    margin-right: 0px;
    margin-left: 10px;	
}

.myprofile-workSection-container .deleteDownloadWork a{
    margin-left: 10px;
}

.back-to-work-menu {
    border-bottom: #e5e5e5 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.back-to-work-menu a{
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    color: #6E6E6E;
}

.back-to-work-menu a .glyphicon {
	margin-right: 5px;
}

.myprofile-workSection-container .profileWorkSectionPopup {
    background: rgba(0, 0, 0, 0.10);
}

.myprofile-workSection-container .profileWorkSectionPopup .modal-body .work-container {
    height: 500px;
    background: #000;	
}

.myprofile-workSection-container .profileWorkSectionPopup .modal-dialog .modal-content {
    height: auto;
}

.myprofile-workSection-container .profileWorkSectionPopup .modal-dialog {
    height: auto;
	margin: 80px auto 30px auto;
}

.myprofile-workSection-container .profileWorkSectionPopup .modal-body iframe {
    height: 550px !important;
}

.myprofile-uploaded-embedMedia {
    position: relative;
}

.myprofile-uploaded-embedMedia .remove-embedMedia {
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9;
}

.myprofile-uploaded-embedMedia .remove-embedMedia img {
    padding: 5px;
}

.myprofile-uploaded-embedMedia .remove-embedMedia:hover {
    background: #fff;
}

.myprofile-uploaded-embedMedia:hover .beaMentorEdit {
    display: block;
}


/* compose mail css */

.composeUserName {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 5px 0px;
}

.composeUserName .media-left img {
    border: #e5e5e5 solid 1px;
    margin: 0 0px 0 0;
    width: 30px;
    height: 30px;
}

.composeUserName .media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    padding-top: 7px;
}




/* responsive css */

@media (min-width: 991px){

.myprofile-workSection-container .embedMediaContainer .col-md-3, 
.myprofile-workSection-container .embedFilesContainer .col-md-3 {
    width: 20%;
}

}

@media (max-width: 1299px){

.notifications-box li {
    padding: 20px 45px 20px 40px;
}

.dashboard-box-bottom-row .dashboard-box {
    min-height: 382px;
}

.mail-search{
    width: 270px;
}
	
}

@media (max-width: 1199px){

.dashboard-box .dashboard-box-title {
	font-size: 14px;
    padding: 15px 10px;
    font-weight: 400;
    min-height: 65px;
    vertical-align: middle;	
}

.dashboard-box .dashboard-box-title img{
    width: 30px;	
}

.dashboard-box .dashboard-box-title .btn {
    font-size: 11px;
}

.setting-btn{
    background: url(../images/dashboard/setting-icon.png) no-repeat #fff top 5px left 3px !important;
    padding: 15.5px !important;
}

.setting-btn:hover, .setting-btn:focus{
    background: url(../images/dashboard/setting-icon-hover.png) no-repeat #fff top 5px left 3px !important;
}

.dashboard-box-bottom-row .dashboard-box {
    min-height: 390px;
}

.dashboard-box .table td {
    padding: 10px !important;
}

.pinboard-box .table td:nth-child(2) {
    padding: 10px 0px !important;
}

.pinboard-box {
    font-size: 13px;
}

.pinboard-box .table td .pin {
    font-size: 11px;
}

.reviews-box {
    padding: 10px;
}

.notifications-box li {
    padding: 10px 55px 10px 30px;
    background: url(../images/dashboard/gray-dot.png) no-repeat top 16px left 13px;
}

.notifications-box li.system-genrated {
	background: url(../images/dashboard/system-genrated.png) no-repeat top 16px left 13px;
}

.notifications-box li.self-genrated {
	background: url(../images/dashboard/self-genrated.png) no-repeat top 16px left 13px;
}

.notifications-box li.user-genrated {
	background: url(../images/dashboard/user-genrated.png) no-repeat top 16px left 13px;
}

.notifications-box li .signClose {
    top: 10px;
    right: 10px;
}

.mail-search{
    width: 185px;
}

.dashboard-left-menu {
    padding-right: 10px;
}

}

@media (max-width: 991px){

.dashboard .dashboard-nav li a img {
    padding-left: 5px;
    padding-right: 5px;
    width: 35px;
    height: 28px;	
}

.dashboard .dashboard-nav>li>a {
    font-size: 12px;
    padding: 8px 8px 8px 0px;
    min-height: 52px;	
}

.dashboard-box-bottom-row .dashboard-box {
    min-height: 310px;
}

.mailbox-left {
    padding-right: 10px;
}

.mailbox-right {
    padding-left: 10px;
}

}

@media (max-width: 767px){

.dashboard-box-bottom-row .dashboard-box {
    min-height: auto;
}

.table-responsive {
    border: 0px;
}

.mailbox-btngrp .text-right{
	text-align: left;
	margin-top: 10px;
}

.welcome-text h2 {
    font-size: 30px;
}

.blockUserFormPopup .modal-dialog {
    width: 530px;
}

}

@media (max-width: 570px){

.dashboard-box .dashboard-box-title {
    min-height: auto;
}

.dashboard-box .dashboard-box-title .pull-right {
    float: none !important;
	margin-top: 15px;
}

.dashboard-box-bottom-row .dashboard-box .dashboard-box-title .pull-right {
    float: right !important;
	margin-top: 0px;
}

.dashboard .dashboard-nav li a img {
    width: 35px;
    height: 28px;
    display: block;
	margin: 0px auto 5px auto;
}

.dashboard .dashboard-nav>li>a {
    font-size: 10px;
    padding: 5px 2px 5px 0px;		
    text-align: center;
}

.dashboard-slider {
    background: #fcf8e5;
    padding: 20px;
}

.dashboard-slider .carousel-control {
    position: relative;
}

.dashboard-slider-caption {
    margin-bottom: 10px;
}

.dashboard-slider .carousel-control.left {
    left: 0;
}

.dashboard-slider .carousel-control.right {
    margin-left: 70px;
}

.dashboard-slider .siderNum {
    position: absolute;
    right: auto;
    top: auto;
    left: 50px;
    bottom: 25px;
}

.mail-box .mail-topic {
    padding-top: 40px;
}

.mymailbox-composemail-btn {
    padding: 10px 20px 10px 42px;
}

.mail-search {
    width: 125px;
}

.welcome-text h2 {
    font-size: 26px;
}

.mail-conversation .media-heading span.pull-right{
    float: none !important;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}
	
}
