﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Wissnex</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <img src="Website-Under-Construction.jpg" width="1240" height="600px" />
    </div>
    </form>
</body>
</html>
