﻿<%@ Application Language="C#" %>

<script RunAt="server">

  void Application_Start(object sender, EventArgs e)
  {
    // Code that runs on application startup

  }

  void Application_End(object sender, EventArgs e)
  {
    //  Code that runs on application shutdown

  }

  void Application_Error(object sender, EventArgs e)
  {
    // Code that runs when an unhandled error occurs

  }

  void Session_Start(object sender, EventArgs e)
  {
    // Code that runs when a new session is started
    Session[ConfigurationManager.AppSettings["AdminUserID"].ToString()] = "";
    Session[ConfigurationManager.AppSettings["RegUserID"].ToString()] = "";
    Session[ConfigurationManager.AppSettings["RegUserType"].ToString()] = "";
    Session["TZ"] = "";
    Session["TZDST"] = "";
    //SiteUtil.StartSqlPollingBackgroundWorker();
  }

  void Session_End(object sender, EventArgs e)
  {
    // Code that runs when a session ends. 
    // Note: The Session_End event is raised only when the sessionstate mode
    // is set to InProc in the Web.config file. If session mode is set to StateServer 
    // or SQLServer, the event is not raised.
    //SiteUtil.StopSqlPollingBackgroundWorker();
  }
       
</script>

