﻿<%@ Page Language="C#" MasterPageFile="~/Master-dummy.master" AutoEventWireup="true"
  CodeFile="linkedin-response.aspx.cs" Inherits="linkedin_response" Title="Linked In Response" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">

  <script>
//    function ShowProfileData(profiles) {
//      var member = profiles.values[0];
//      var id = member.id;
//      var firstName = member.firstName;
//      var lastName = member.lastName;
//      var photo = member.pictureUrl;
//      var headline = member.headline;
//      alert(firstName);
//      //use information captured above
//    }
  </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
</asp:Content>
