﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoginWithGoogle.aspx.cs"
  Inherits="LoginWithGoogle" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>Login with google</title>

  <script type="text/javascript" language="javascript">


    function OpenGoogleLoginPopup() {


      var url = "https://accounts.google.com/o/oauth2/auth?";
      url += "scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email&";
      url += "state=%2Fprofile&"
      url += "redirect_uri=<%=Return_url %>&"
      url += "response_type=token&"
      url += "client_id=<%=Client_ID %>";

      window.location = url;
    }


  </script>

</head>
<body>
  <form id="form1" runat="server">
  <div>
  </div>
  </form>
</body>
</html>
