﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="timezone-redirect.aspx.cs" Inherits="timezone_redirect" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title></title>
</head>
<body>
  <form id="form1" runat="server">
    <div>
      <asp:TextBox ID="txtTimezone" runat="server"></asp:TextBox>
    </div>
  </form>
</body>
</html>
