﻿<%@ Page Language="C#" MasterPageFile="~/SiteMaster.master" AutoEventWireup="true"
  CodeFile="verify-email.aspx.cs" Inherits="verify_email" Title="Email Verification" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
  <meta http-equiv="refresh" content="5" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
  <div id="carousel-example-generic" class="carousel slide inBanner" data-ride="carousel">
  </div>
  <div class="container-fluid SerachInnerWrap">
    <asp:Panel ID="pnlMessage" runat="server" Visible="true" CssClass="container nosearchResult">
      <div class="col-md-12 thankuWrap">
        <h1>
          <asp:Literal ID="litThankyouMessage" runat="server"></asp:Literal>
          <%--<a href="#"> test</a>--%>          
        </h1>
        <%--<a href="#">test</a>--%>
      </div>
    </asp:Panel>
  </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
</asp:Content>
