﻿<%@ Page Language="C#" MasterPageFile="~/admin/AdminMaster.master" AutoEventWireup="true"
  CodeFile="dashboard.aspx.cs" Inherits="admin_dashboard" Title="Dashboard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
  <!-- Navigation info -->
  <ul id="nav-info" class="clearfix">
    <li><a href="dashboard.aspx"><i class="icon-home"></i>Dashboard</a></li>
  </ul>
  <!-- END Navigation info -->
  <div class="form-horizontal form-box">
    <h4 class="form-box-header">
    </h4>
    <div class="form-box-content">
      <div>
      </div>
    </div>
  </div>
</asp:Content>
