﻿<%@ Page Language="C#" MasterPageFile="~/admin/AdminMaster.master" AutoEventWireup="true"
  CodeFile="manage-mentors.aspx.cs" Inherits="admin_manage_mentors" Title="Manage Mentors" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">

  <script type="text/javascript">
    function checkAllGrid(id) {
      if (document.getElementById(id).checked == true) {
        if (CheckBoxIDs != null) {
          for (var i = 0; i < CheckBoxIDs.length; i++) {
            if (document.getElementById(CheckBoxIDs[i]) != null)
              document.getElementById(CheckBoxIDs[i]).checked = true;
          }
          document.getElementById(id).checked = true;
        }
      }
      else {
        for (var i = 0; i < CheckBoxIDs.length; i++) {
          if (document.getElementById(CheckBoxIDs[i]) != null)
            document.getElementById(CheckBoxIDs[i]).checked = false;
        }
      }
    }
  </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
  <!-- Navigation info -->
  <ul id="nav-info" class="clearfix">
    <li><a href="dashboard.aspx"><i class="icon-home"></i></a></li>
    <li class="active"><a href="">Manage Mentors</a></li>
  </ul>
  <!-- END Navigation info -->
  <asp:Panel ID="pnlViewExpertise" runat="server" CssClass="form-horizontal form-box"
    Style="display: none;">
    <asp:UpdatePanel ID="AddPanel" runat="server">
      <ContentTemplate>
        <h4 class="form-box-header col-md-12">Mentors Expertise
        </h4>
        <asp:GridView ID="grdMentorsExpertise" runat="server" AutoGenerateColumns="False"
          border="0" Width="100%" DataKeyNames="PKExpertiseId" CssClass="table table-bordered borBot "
          OnRowDataBound="grdMentorsExpertise_RowDataBound" AllowPaging="false" EmptyDataText="Records not found">
          <HeaderStyle CssClass="danger" />
          <PagerStyle CssClass="pagination forTable" />
          <EmptyDataRowStyle ForeColor="Red" HorizontalAlign="Center" />
          <Columns>
            <asp:BoundField DataField="" HeaderText="Sr.No.">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
            </asp:BoundField>
            <asp:BoundField DataField="IndustryId" HeaderText="Industry">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="SubIndustryIds" HeaderText="Sub Industry">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="20%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
            </asp:BoundField>
            <asp:BoundField DataField="FunctionId" HeaderText="Function">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="true" />
            </asp:BoundField>
            <asp:BoundField DataField="SubFunctionIds" HeaderText="Sub Functions">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="20%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
            </asp:BoundField>
            <asp:BoundField DataField="RegionId" HeaderText="Region">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="SubRegionIds" HeaderText="Sub Regions">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="20%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
            </asp:BoundField>
          </Columns>
        </asp:GridView>
      </ContentTemplate>
    </asp:UpdatePanel>
  </asp:Panel>
  <asp:Panel ID="pnlViewWork" runat="server" CssClass="form-horizontal form-box" Style="display: none;">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
      <ContentTemplate>
        <h4 class="form-box-header col-md-12">Mentors Work
        </h4>
        <asp:GridView ID="grdMentorsWork" runat="server" AutoGenerateColumns="False" border="0"
          Width="100%" DataKeyNames="PKWorkId" CssClass="table table-bordered borBot " OnRowDataBound="grdMentorsWork_RowDataBound"
          AllowPaging="false" EmptyDataText="Records not found">
          <HeaderStyle CssClass="danger" />
          <PagerStyle CssClass="pagination forTable" />
          <EmptyDataRowStyle ForeColor="Red" HorizontalAlign="Center" />
          <Columns>
            <asp:BoundField DataField="" HeaderText="Sr.No.">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
            </asp:BoundField>
            <asp:BoundField DataField="WorkTitle" HeaderText="Title">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="WorkAsset" HeaderText="Work Asset">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="Workpath" HeaderText="Work">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" Wrap="true" />
            </asp:BoundField>
          </Columns>
        </asp:GridView>
      </ContentTemplate>
    </asp:UpdatePanel>
  </asp:Panel>
  <asp:Panel ID="pnlViewEmployers" runat="server" CssClass="form-horizontal form-box"
    Style="display: none;">
    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
      <ContentTemplate>
        <h4 class="form-box-header col-md-12">Mentors Employers
        </h4>
        <asp:GridView ID="grdEmployers" runat="server" AutoGenerateColumns="False" border="0"
          Width="100%" DataKeyNames="PKEmployerId" CssClass="table table-bordered borBot "
          OnRowDataBound="grdEmployers_RowDataBound" AllowPaging="false" EmptyDataText="Records not found">
          <HeaderStyle CssClass="danger" />
          <PagerStyle CssClass="pagination forTable" />
          <EmptyDataRowStyle ForeColor="Red" HorizontalAlign="Center" />
          <Columns>
            <asp:BoundField DataField="" HeaderText="Sr.No.">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
            </asp:BoundField>
            <asp:BoundField DataField="CompanyName" HeaderText="Company Name">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="RoleTitle" HeaderText="Role">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="JobFunction" HeaderText="Job Function">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="true" />
            </asp:BoundField>
            <asp:TemplateField HeaderText="Duration">
              <ItemTemplate>
                <%# Eval("FromMonth") %> - <%# Eval("FromYear")%>
                To <%# Eval("ToMonth")%> - <%# Eval("ToYear")%>
              </ItemTemplate>
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="15%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
            </asp:TemplateField>
            <asp:BoundField DataField="JobDescription" HeaderText="Description">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="50%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="true" />
            </asp:BoundField>
          </Columns>
        </asp:GridView>
      </ContentTemplate>
    </asp:UpdatePanel>
  </asp:Panel>
  <asp:UpdatePanel ID="ViewPanel" runat="server">
    <ContentTemplate>
      <asp:Literal ID="litMessage" runat="server"></asp:Literal>
      <asp:Panel ID="pnlView" runat="server" CssClass="form-horizontal form-box">
        <h4 class="form-box-header col-md-12">Manage Mentors
        </h4>
        <div role="" class="dataTables_wrapper form-inline" id="example-datatables_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-xs-12  pull-left  ">
              <div id="example-datatables_length">
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-xs-12 padLeft2  ">
                    <asp:DropDownList ID="DDLPageSize" runat="server" AutoPostBack="true" CssClass="form-control"
                      OnSelectedIndexChanged="DDLPageSize_SelectedIndexChanged">
                      <asp:ListItem Value="1">1</asp:ListItem>
                      <asp:ListItem Value="2">2</asp:ListItem>
                      <asp:ListItem Value="5">5</asp:ListItem>
                      <asp:ListItem Value="10">10</asp:ListItem>
                      <asp:ListItem Value="20" Selected="True">20</asp:ListItem>
                      <asp:ListItem Value="50">50</asp:ListItem>
                      <asp:ListItem Value="100">100</asp:ListItem>
                      <asp:ListItem Value="200">200</asp:ListItem>
                      <asp:ListItem Value="500">500</asp:ListItem>
                      <asp:ListItem Value="1000">1000</asp:ListItem>
                      <asp:ListItem Value="2000">2000</asp:ListItem>
                      <asp:ListItem Value="5000">5000</asp:ListItem>
                      <asp:ListItem Value="10000">10000</asp:ListItem>
                    </asp:DropDownList>
                  </div>
                  <div class="col-sm-6 col-md-6 col-xs-12 padLeft  ">
                    <label class="marTop">
                      Records/Page
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-9 col-xs-12 padLeft">
              <asp:Panel ID="pnlSearch" runat="server" CssClass="" DefaultButton="btnSearch">
                <div class="dataTables_filter" id="example-datatables_filter">
                  <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12 padLeft">
                      <asp:DropDownList ID="DDLStatus" runat="server" CssClass="form-control">
                        <asp:ListItem Value="Y" Selected="True">Active</asp:ListItem>
                        <asp:ListItem Value="N">Inactive</asp:ListItem>
                      </asp:DropDownList>
                    </div>
                    <div class="col-md-2  col-sm-3 col-xs-12 padLeft">
                      <asp:TextBox ID="txtNameSearch" runat="server" CssClass="form-control" MaxLength="20"
                        placeholder="Name"></asp:TextBox>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12 padLeft">
                      <asp:TextBox ID="txtEmailSearch" runat="server" CssClass="form-control" MaxLength="20"
                        placeholder="Email"></asp:TextBox>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12 padLeft">
                      &nbsp;
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <asp:Button ID="btnResetFilters" runat="server" Text="View All" CssClass="btn btn-success pull-right marLft"
                        OnClick="btnResetFilters_Click" ValidationGroup="grpSearch" />
                      <asp:Button ID="btnSearch" runat="server" Text="Search" CssClass="btn btn-success pull-right marLft"
                        OnClick="btnSearch_Click" ValidationGroup="grpSearch" />
                    </div>
                  </div>
                  <div class="row text-right">
                    <asp:CustomValidator ID="CustomValidator1" runat="server" ErrorMessage="Enter at least one search criteria"
                      Display="Dynamic" ValidationGroup="grpSearch" OnServerValidate="CustomValidator1_ServerValidate"></asp:CustomValidator>
                  </div>
                </div>
              </asp:Panel>
            </div>
          </div>
        </div>
        <!-- END Nav Dash -->
        <!-- Tiles -->
        <!-- Row 1 -->
        <asp:GridView ID="grdData" runat="server" AutoGenerateColumns="False" border="0"
          Width="100%" OnRowCommand="grdData_RowCommand" DataKeyNames="PKMentorId" CssClass="table table-bordered borBot "
          OnRowDataBound="grdData_RowDataBound" AllowPaging="True" OnPageIndexChanging="grdData_PageIndexChanging"
          EmptyDataText="Records not found">
          <HeaderStyle CssClass="danger" />
          <PagerStyle CssClass="pagination forTable" />
          <EmptyDataRowStyle ForeColor="Red" HorizontalAlign="Center" />
          <Columns>
            <asp:BoundField DataField="" HeaderText="Sr.No.">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
            </asp:BoundField>
            <asp:TemplateField HeaderText="User Details">
              <ItemTemplate>
                <b>Name:</b>
                <%# Eval("Name") %><br />
                <b>Email Id:</b>
                <%# Eval("EmailID")%><br />
                <b>City:</b>
                <%# Eval("City")%><br />
                <b>Punchline:</b>
                <%# Eval("Punchline")%><br />
                <b>Tutorial Completed?:</b>
                <%# Eval("IsTutorialCompleted")%><br />
                <b>Self Employed:</b>
                <%# Eval("IsSelfEmployed")%><br />
                <b>Mentor Status:</b>
                <%# Eval("MentorStatus")%><br />
              </ItemTemplate>
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="15%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
            </asp:TemplateField>
            <asp:BoundField DataField="EmailID" HeaderText="Email Id" Visible="false">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="City" HeaderText="City" Visible="false">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="Punchline" HeaderText="Punchline" Visible="false">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="10%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="true" />
            </asp:BoundField>
            <asp:BoundField DataField="AboutMe" HeaderText="About Me">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Top" Width="70%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="true" />
            </asp:BoundField>
            <asp:BoundField DataField="IsTutorialCompleted" HeaderText="Is Tutorial Completed"
              HtmlEncode="false" Visible="false">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="IsSelfEmployed" HeaderText="Is Self Employed" Visible="false">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:BoundField DataField="MentorStatus" HeaderText="Mentor Status" Visible="false">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Top" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" Wrap="false" />
            </asp:BoundField>
            <asp:TemplateField HeaderText="Details" Visible="true">
              <HeaderStyle HorizontalAlign="Left" VerticalAlign="Middle" Width="1%" />
              <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" Wrap="false" />
              <ItemTemplate>
                <asp:LinkButton ID="lnkExpertise" runat="server" CausesValidation="False" CommandName="cmdExpertise"
                  CommandArgument='<%#Eval("PKMentorId") %>'>View Expertise</asp:LinkButton><br />
                <asp:LinkButton ID="lnkWork" runat="server" CausesValidation="False" CommandName="cmdWork"
                  CommandArgument='<%#Eval("PKMentorId") %>'>View Work</asp:LinkButton><br />
                <asp:LinkButton ID="lnkEmployers" runat="server" CausesValidation="False" CommandName="cmdEmployers"
                  CommandArgument='<%#Eval("PKMentorId") %>'>View Employers</asp:LinkButton>
              </ItemTemplate>
            </asp:TemplateField>
            <asp:TemplateField HeaderText="Select">
              <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="1%" />
              <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
              <HeaderTemplate>
                <asp:CheckBox ID="chkCheckAll" runat="server"></asp:CheckBox>
              </HeaderTemplate>
              <ItemTemplate>
                <asp:CheckBox ID="chk" runat="server" />
              </ItemTemplate>
            </asp:TemplateField>
          </Columns>
        </asp:GridView>
        <div role="" class="dataTables_wrapper form-inline" id="Div1">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 pull-left">
              <div class="dataTables_filter" id="Div3">
                <div class="col-md-3 pull-right col-sm-3 col-xs-12 padLeft">
                  <span class="input-group-btn">
                    <asp:Button ID="btnDeactivate" runat="server" Text="Deactivate" CssClass="btn btn-success pull-right "
                      OnClick="btnDeactivate_Click" />
                    <asp:Button ID="btnActivate" runat="server" Text="Activate" CssClass="btn btn-success pull-right"
                      OnClick="btnActivate_Click" />&nbsp;&nbsp;
                    <%--<button class="btn btn-success">
                  <i class="icon-search"></i>
                </button>--%>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%--</div>--%>
      </asp:Panel>
    </ContentTemplate>
  </asp:UpdatePanel>
  <asp:UpdateProgress ID="uProgess" runat="server" DynamicLayout="true" DisplayAfter="100">
    <ProgressTemplate>
      <div id="Layer1" align="center" style="position: fixed; z-index: 1001; width: 100%; left: 0; top: 0; height: 100%; background-color: #ccc; visibility: visible; vertical-align: middle; border-style: none; opacity: 0.5">
        <img alt="Loading..." src="<%=ConfigurationManager.AppSettings["Path"].ToString() %>/admin/img/loading.gifs/loading03@2x.gif"
          style="position: absolute; left: 45%; top: 250px;" />
      </div>
    </ProgressTemplate>
  </asp:UpdateProgress>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
</asp:Content>
